[2021-03-31 08:08] Niketkumardheeryan opened #1 "structured the models properly"

[2021-06-01 17:21] theanshulcode commented on #1
Could you please explain exactly what is the issue? @Niketkumardheeryan

[2021-06-01 17:26] Niketkumardheeryan opened #2 "Xgboost from scratch"

[2021-06-01 17:28] Niketkumardheeryan opened #3 "Explaination and Example for P value with code"
Show the importance of P value..

[2021-06-01 17:31] Niketkumardheeryan commented on #1
@theanshulcode we just have to arrange the model on the basis of difficulty of a model(in Readme. Md file)

[2021-06-02 16:35] Rutikab12 commented on #2
Hey, @Niketkumardheeryan I would like to work on this issue as letsgrowmore SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-03 12:29] theanshulcode opened #4 "Data Analysis and Machine Learning Projects"
Can I include projects related to Data Analysis and ML in this?

[2021-06-03 14:00] Niketkumardheeryan commented on #4
sure @theanshulcode ,But it should be a standard Project, which can help to get a job or internship in Data science field. Ex. Reccomendation system or many more ..

[2021-06-03 14:01] Niketkumardheeryan commented on #2
sure @Rutikab12

[2021-06-03 14:03] Niketkumardheeryan opened #5 "Create Readme. File For each PR"

[2021-06-03 14:05] Niketkumardheeryan opened #6 "Make the more attractive Readme.md file for this repo"

[2021-06-03 14:05] theanshulcode commented on #4
I want to work on Customer Segmentation Analysis using Machine Learning. In this project, I will be using Unsupervised ML Algorithm called Clustering.

Can I work on it @Niketkumardheeryan ?

[2021-06-03 14:07] Niketkumardheeryan opened #7 "Make a Recommendation system ."
You have to make a recommendation system

[2021-06-03 14:13] Niketkumardheeryan commented on #4
@theanshulcode go for it,but it will be great if you will code a cluster method from scratch for your dataset.

[2021-06-03 14:19] theanshulcode commented on #4
Thank you @Niketkumardheeryan

[2021-06-03 16:28] Rutikab12 commented on #2
Thank You.

[2021-06-04 16:12] aditya28sarin commented on #6
Can you assign this issue to me?

[2021-06-06 10:53] ayushgoyal9991 commented on #7
@Niketkumardheeryan  Is there any specific type of recommendation system we have to make or we are free to choose?

[2021-06-06 20:34] Niketkumardheeryan commented on #7
You are free to choose.. @ayushgoyal9991

[2021-06-06 20:34] Niketkumardheeryan commented on #6
Sure @aditya28sarin

[2021-06-07 06:37] ayushgoyal9991 commented on #7
I am interested in contributing as an LGM-SOC participant.

[2021-06-07 13:15] Niketkumardheeryan opened #11 "Deploy a ML or DL Model on clouds.."
it will be great if you could deploy a model at least 2 clouds...

[2021-06-07 13:18] Niketkumardheeryan opened #12 "Create a Andoid app + Machine leaning Model.."
integration of ml model into android....

[2021-06-07 13:33] Niketkumardheeryan commented on #7
@ayushgoyal9991 go for it

[2021-06-08 09:52] Sumit11081996 commented on #6
Hello, @Niketkumardheeryan I would like to work on this issue as LSM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 09:57] Sumit11081996 commented on #4
Hi, @Niketkumardheeryan I would like to work on this issue as LCM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 09:58] Sumit11081996 commented on #3
Hii, @Niketkumardheeryan I would like to work on this issue as LCM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 10:06] harshita9621 commented on #6
Hii, @Niketkumardheeryan I would like to work on this issue as LSM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 10:07] harshita9621 commented on #4
Hii, @Niketkumardheeryan I would like to work on this issue as LSM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 10:08] harshita9621 commented on #3
Hey, @Niketkumardheeryan I would like to work on this issue as LSM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 17:30] Niketkumardheeryan commented on #3
@Sumit11081996 go for it.

[2021-06-08 17:33] Niketkumardheeryan commented on #6
first come first serve ,but if assignee will delay to make a pr , I will assign it you.

[2021-06-08 17:47] Niketkumardheeryan opened #13 "Create a Deep learning Model for object detection.."

[2021-06-09 09:55] Sumit11081996 commented on #3
thank you @Niketkumardheeryan  i will do my best

[2021-06-09 10:50] harshita9621 commented on #2
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 16:27] Niketkumardheeryan opened #15 "A Chat-bot for medical help"

[2021-06-09 19:26] Akash20x commented on #15
@Niketkumardheeryan I want to take up this issue as a part of LGM-SOC'21.

Kindly assign me this issue and specify some description about the issue

[2021-06-10 02:15] unnati914 commented on #5
i can work on this

[2021-06-10 05:52] NikhiIsaac commented on #1
can you assign me this issue

[2021-06-10 06:08] NikhiIsaac commented on #13
ill like to make the model using darkflow and yolo v5
if there is something more specific you need pls tell
could you assign me this issue

[2021-06-10 08:03] PadminiRai commented on #13
I'd like to work on this issue under label LGMSOC21.

[2021-06-10 08:41] ayushi424 commented on #4
Hello, I would like to contribute a data analytics project Predictive Analytics using python.
 May I work on it @Niketkumardheeryan ??

[2021-06-10 11:53] Niketkumardheeryan commented on #15
@Akash20x  create a chatbot that could provide medical assistance for patients of the hospital,
some functions those you can add-

*  bed available
*  Useful contact details
* about the hospital.
add more things accordingly...

you can take references from others chatbot as well.

[2021-06-10 11:58] Niketkumardheeryan commented on #5
@unnati914 this pinned issue is only for instructions,you can choose other issues, or create your own issues

[2021-06-10 12:02] Niketkumardheeryan commented on #4
@harshita9621 @ayushi424 @Sumit11081996 ,you can choose another issue, bcz someone is working on it..

[2021-06-10 12:08] Niketkumardheeryan opened #16 "web scrapping with Beautiful soup."
Scrap a popular website Ex . twitter , Wikipedia  etc...

[2021-06-10 12:10] Niketkumardheeryan opened #17 "Advanced Ensemble methods in ML / DL"

[2021-06-10 12:12] Niketkumardheeryan opened #18 "Create a Time series forecasting Model ."

[2021-06-10 12:14] Niketkumardheeryan opened #19 "Create a file ,which contain the code for different types of Hypothesis testing."

[2021-06-10 12:17] Niketkumardheeryan opened #20 "Bitcoin price predictor ."
Create a model which can predict bitcoin price, you can choose a relevant dataset.

[2021-06-10 15:24] Akash20x commented on #15
@Niketkumardheeryan Please also add lgm-soc'21 label

[2021-06-10 17:50] psyduck1203 commented on #18
Hey I'm a participant of LGM-SoC and I want to work on this issue. Can you please assign me this issue!

[2021-06-10 17:51] psyduck1203 commented on #20
Hey I have already done a project on this. Can you please assign me this issue!

[2021-06-10 17:51] Jyoti6828 commented on #16
Can you please assign this issue to me

[2021-06-10 18:00] Sakalya100 opened #21 "Car Price Prediction Using Simple Linear Regression"
I will make a Machine Learning Model using Simple Linear regression for Predicting the Car Price .

[2021-06-10 18:00] Sakalya100 commented on #21
Please assign me this issue. I will start working on it.

[2021-06-10 18:22] vaibhavgupta2499 commented on #19
Can I work on this issue as LGM-SOC participant ?

[2021-06-11 08:37] Komal-99 commented on #6
Kindly assign it to me as the current Readme looks so incomplete with no formation most of the fields are empty.I am LGMSOC participant

[2021-06-11 08:40] Komal-99 opened #22 "Flight Delay prediction"
Can i Add jupyter notebook for the flight delay prediction for the dataset available on kaggel . with proper comments about the python library used.
I am LGMSOC participant
https://www.kaggle.com/usdot/flight-delays

[2021-06-11 08:45] Niketkumardheeryan commented on #20
@psyduck1203 go for it

[2021-06-11 08:46] Niketkumardheeryan commented on #19
sure @vaibhavgupta2499

[2021-06-11 08:48] Niketkumardheeryan commented on #18
@psyduck1203 first complete another issue..

[2021-06-11 08:48] Niketkumardheeryan commented on #16
sure @Jyoti6828

[2021-06-11 08:49] Niketkumardheeryan commented on #15
@Akash20x  don't worry , i will

[2021-06-11 08:50] Niketkumardheeryan commented on #13
@PadminiRai go for it.

[2021-06-11 08:52] Niketkumardheeryan commented on #6
@aditya28sarin do it fast ..

[2021-06-11 08:55] Niketkumardheeryan commented on #21
@Sakalya100 sorry ,i don't want more simple regression model, make other issue or choose one.

[2021-06-11 08:55] #21 closed

[2021-06-11 08:58] Niketkumardheeryan commented on #22
@Komal-99 your model must be optimized ..

[2021-06-11 09:01] Niketkumardheeryan opened #23 "Autocorrect Keyboard with Python and Machine Learning."

[2021-06-11 09:01] Niketkumardheeryan opened #24 "Build Google Search Algorithm with Python."

[2021-06-11 09:02] Niketkumardheeryan opened #25 "Extract Text From PDF with Python."

[2021-06-11 09:03] Niketkumardheeryan opened #26 "Deploy a Chatbot with Python into a Web Application"

[2021-06-11 09:04] Niketkumardheeryan opened #27 "Time Series with LSTM Model"

[2021-06-11 09:04] Niketkumardheeryan opened #28 "Predict Weather with Machine Learning"

[2021-06-11 09:05] Niketkumardheeryan opened #29 "Amazon Products Reviews Sentiment"

[2021-06-11 09:09] Komal-99 commented on #22
okay sure but can you please tell me location or folder where to create folder for uploading dataset and  file?

[2021-06-11 09:13] Niketkumardheeryan commented on #22
@Komal-99 create a folderect named as ur proj and add dataset files into it ,than make a pr

[2021-06-11 09:16] Komal-99 commented on #22
okay

[2021-06-11 10:30] queenish001 commented on #29
As an LGMSoC participant, I'd like to work on this issue.
Kindly assign it to me :)

[2021-06-11 10:31] queenish001 commented on #25
I would like to contribute to this issue as well.
Please assign it to me.

[2021-06-11 12:39] Jyoti6828 commented on #26
Can you please assign this issue to me. I want to create Covid-19 related Chatbot using Python and real-time API.

[2021-06-11 13:32] Sakalya100 commented on #21
Can I make an issue on multiple regression model?

[2021-06-11 13:35] Sakalya100 commented on #25
I would like to contribute to this issue..So kindly assign me this issue.

[2021-06-11 14:49] omagrawal1111 opened #30 "Central Limit Theorem-Example with Dice"
Hey! I am Om Agrawal, the LGM-SoC'21 participant.
Kindly assign me this issue.

[2021-06-11 18:42] PadminiRai commented on #28
I'd like to work on this issue under LGMSOC'21.

[2021-06-12 07:06] Sakalya100 opened #31 "Implementing various Classification algorithms"
I will implement various classification algorithms on a dataset.

[2021-06-12 07:06] Sakalya100 commented on #31
@Niketkumardheeryan Please assign me this issue. I would like to work on this.

[2021-06-12 07:12] Niketkumardheeryan commented on #30
@omagrawal1111 go for it

[2021-06-12 07:13] Niketkumardheeryan commented on #31
@Sakalya100 are you working on other issues...

[2021-06-12 07:14] Niketkumardheeryan commented on #26
sure @Jyoti6828

[2021-06-12 07:14] Niketkumardheeryan commented on #25
@queenish001 go for it

[2021-06-12 07:21] abhishek2chikun commented on #27
I want to work on the project under LGMSOC21. Please assign me.

[2021-06-12 07:26] Sakalya100 commented on #31
@Niketkumardheeryan No sir I am not working on any other issues.

[2021-06-12 10:02] NEERAJAP2001 opened #33 "Sentiment Analysis using NLP"
Here is  a [glimpse](https://github.com/NEERAJAP2001/EmoRec)

I'd Like to work on this as part of the LGMSOC-21.

[2021-06-12 10:03] suy1968 commented on #33
Please assign me as I am a participant of LGMSOC-21

[2021-06-12 10:06] suy1968 commented on #28
Please assign me as I am participant of LGMSOC-21

[2021-06-12 10:06] suy1968 commented on #27
Please assign me as I am participant of LGMSOC-21

[2021-06-12 10:26] PadminiRai commented on #28
I'm working on this issue right now .

[2021-06-12 18:30] theanshulcode commented on #4
Hi @Niketkumardheeryan

I wan to work on Data Analysis on Covid-19. Please assign me this task.

[2021-06-12 19:51] hr1shu opened #34 "Add a cheat sheet folder"
I want to add a folder in the repo that will contain different types of cheat sheet that will help in the motive of your repo.

[2021-06-12 20:11] nisha331 opened #35 "Adding CODE_OF_CONDUCT"
As the project does not contain Code of conduct file I would like to add it. I am a LGMSOC 'participant kindly assign it to me.

[2021-06-12 20:22] Niketkumardheeryan commented on #6
@aditya28sarin make a pr for this issue ,otherwise, I will assign it  to others.

[2021-06-12 20:25] Niketkumardheeryan opened #36 "Levels = Difficulty + Time Taken to make a PR"

[2021-06-13 06:21] Thatsooraj opened #37 "Tesla Stock Market Prediction with Sentiment Analysis"
I would like to contribute through the project based on neural networks with NlP .. LSTM (RNN + NLP) on Tesla stock market prediction

[2021-06-13 09:21] Ak12hil commented on #29
I'm LMSOC participant...can I work on this?

[2021-06-13 10:12] queenish001 commented on #24
Sir, Kindly assign this issue to me.

[2021-06-13 10:41] vaibhavgupta2499 commented on #19
I have added a Pull request for this issue, kindly please check that and revert back. Please consider this for LGM-SOC participation.

[2021-06-13 13:35] Jagannath8 opened #44 "Diabetes Prediction"
I want to predict if a person is having diabetes or not.
I'll use Logistic Regression algorithm.

[2021-06-13 13:35] Jagannath8 commented on #44
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 14:39] sai-keerthi commented on #44
can you assign me this issue..

[2021-06-13 17:31] payaldutta opened #48 "UPDATE_LICENSE"
As the project does not contain a License file I would like to add it. I am an LGMSOC'21 participant kindly assign it to me.

[2021-06-13 17:37] atarax665 opened #49 "Titanic Passenger Survival Prediction"
I would like to do exploratory data analysis and predict the survival chances of someone if they were on titanic using Gaussian Naive Bayes. I am looking to use the dataset provided [here](https://www.kaggle.com/brendan45774/test-file?select=tested.csv) for this purpose.

[2021-06-13 17:38] payaldutta opened #50 "Adding Contributors Section in ReadMe"
As the project does not have a Contributors Section, I would like to add it under LGMSOC'21.

[2021-06-13 17:45] payaldutta opened #51 "Adding CONTRIBUTING.md"
As the project does not contain Contributing file I would like to add it under  LGMSOC '21.
Kindly assign me.
Thank you.

[2021-06-13 17:49] atarax665 opened #52 "Fix the Greeting github-action"
Right now the greeting github-action shows these messages when a new contributor creates his first issue or pull request.
```issue-message: 'Message that will be displayed on users first issue' ```
```pr-message: 'Message that will be displayed on users first pull request'```

It should be formatted to send a better greeting message to the contributors. Something like:
```issue-message: 'Thank you

[2021-06-13 19:31] Niketkumardheeryan commented on #49
@atarax665 sorry , we already have many simple linear regression and classification projects in this repo ,so choose other issues or create a better one.

[2021-06-13 19:31] #49 closed

[2021-06-13 19:32] #48 closed

[2021-06-13 19:33] Niketkumardheeryan commented on #44
@sai-keerthi @Jagannath8  sorry , we already have many simple linear regression and classification projects in this repo ,so choose other issues or create a better one.

[2021-06-13 19:33] #44 closed

[2021-06-13 19:33] Niketkumardheeryan commented on #37
@Thatsooraj go for it .

[2021-06-13 19:34] #35 closed

[2021-06-13 19:42] #33 closed

[2021-06-13 20:18] #50 closed

[2021-06-13 20:19] #34 closed

[2021-06-13 20:19] #31 closed

[2021-06-13 20:21] Niketkumardheeryan opened #53 "Different types of Clustering"

[2021-06-13 20:32] Niketkumardheeryan commented on #6
@Sumit11081996 @Komal-99 @harshita9621 @aditya28sarin    now all of you can make PR  for this  issue, PR will be  merged  on first come first serve basis.

[2021-06-13 20:39] Niketkumardheeryan commented on #52
@atarax665 add more useful bots for this repo if u can ...

[2021-06-13 20:41] Niketkumardheeryan opened #54 "Different types of Scaling For machine learning models."

[2021-06-13 20:42] Niketkumardheeryan opened #55 "Different types of feature selection techniques."

[2021-06-13 20:43] Niketkumardheeryan opened #56 "Techniques to fill null values in data with code."

[2021-06-13 20:55] hr1shu opened #57 "Want to add Contributing Guidelines file to the repo."
I have designed several guides and I saw the contributing guidelines is missing in your repo. If the project is for open source, it should definitely have a Contributing-Guidelines.md file.

[2021-06-13 21:28] arushi09207 commented on #17
just a quick query. The expectation of the project is to prepare proper code example and description for ensemble techniques(advaced). if this is so please assign it to me. Happy to contribute.

[2021-06-13 21:30] arushi09207 commented on #56
here as well we need to describe the methods and then submit the pynb ? i would be happy to contribute.

[2021-06-14 05:18] Sumit11081996 commented on #53
@Niketkumardheeryan please assign me this

[2021-06-14 05:19] harshita9621 commented on #55
Hii, I would like to work on this issue. Do assign me if possible. Thank You!

[2021-06-14 08:04] NikhiIsaac commented on #1
after arranging the models in sequence I have to list it out in the readme file . right?

[2021-06-14 09:11] Megha0606 commented on #23
I want to work on this issue, please assign me. Thanks.

[2021-06-14 09:17] Megha0606 commented on #23
I want to work on this Issue, Please assign me. Thanks

[2021-06-14 10:11] Megha0606 commented on #54
I wantI want to work on this Issue, Please assign me. Thanks

[2021-06-14 12:18] suy1968 commented on #54
Please assign me, as I am a part of LGMSOC21 and i work on this isssue

[2021-06-14 12:51] SwatiPanchal commented on #56
I would like to contribute

[2021-06-14 14:09] SwatiPanchal commented on #54
I would like to contribute. Please assign me

[2021-06-14 14:11] SwatiPanchal commented on #29
I know ML well so I would request you to please assign this project to me

[2021-06-14 14:58] Abhilash249 commented on #13
I would also like to contribute under LGMSOC21

[2021-06-14 16:45] Rutuj-Runwal commented on #23
@Niketkumardheeryan Can I work on this?

[2021-06-14 17:54] arushi09207 commented on #56
thanks.  @Niketkumardheeryan

[2021-06-14 17:54] Niketkumardheeryan opened #61 "Sentiment analysis for depression based on social media posts"

[2021-06-14 17:55] Niketkumardheeryan opened #62 "Handwritten equation solver using CNN"

[2021-06-14 17:56] Niketkumardheeryan opened #63 "Business meeting summary generation using NLP"

[2021-06-14 18:00] Niketkumardheeryan opened #64 "Facial recognition to detect mood and suggest songs accordingly"

[2021-06-14 18:10] Sumit11081996 commented on #62
hi @Niketkumardheeryan  can you please assign me this issue

[2021-06-14 18:11] Niketkumardheeryan opened #65 "Covid-19 Death Rate Analysis with Machine Learning"

[2021-06-14 18:17] Niketkumardheeryan opened #66 "Language_Translator_using_Python_and_GoogleAPI"

[2021-06-15 02:42] Megha0606 commented on #66
I want to work on this please assign me, I'm a participant of LGM-SOC'21

[2021-06-15 02:43] Megha0606 commented on #65
I want to work on this please assign me, I'm a participant of LGM-SOC'21

[2021-06-15 03:58] Niketkumardheeryan commented on #62
@Sumit11081996 u can not work on 2 issues at a time..

[2021-06-15 05:11] suy1968 commented on #65
Please assign me as I am a participant of LGMSOC21

[2021-06-15 05:22] HitainKakkar opened #67 "US-Aviation-Industry-analysis"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis, readme file and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
This project helps us calculate and visualize the relationship between the spread of Corona virus in a country and how happy people are living in

[2021-06-15 05:22] HitainKakkar opened #68 "COVID19_Data-Analysis"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis, readme file and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.

{Description of project}
This project helps us calculate and visualize the relationship between the spread of Corona virus in a country and how happy people are living in

[2021-06-15 07:01] queenish001 commented on #66
Please assign this issue to me

[2021-06-15 07:12] SurajPawar15-smart opened #70 "Basics of Python and ML model code with Explanations"
Hello sir , what I do from open contribution. please accept my request

[2021-06-15 08:24] harshita9621 commented on #68
Hii, I would like to work on this issue. Do assign me if possible. Thank You!

[2021-06-15 09:07] hr1shu commented on #57
Thanks!!!!!!!!!!!!!!!!

[2021-06-15 14:37] Umesh-01 commented on #24
@Niketkumardheeryan sir may I work on this??

[2021-06-15 14:55] ayushi424 commented on #18
Hey @Niketkumardheeryan,
I would like to work on this issue.
I'll proceed by using Facebook prophet model for forecasting.
Please assign.

[2021-06-15 15:39] Jagannath8 opened #72 "Breast Cancer Prediction"
##Title
Breast Cancer Prediction

##Objective
The objective is to predict Breast Cancer using Machine Learning alogithm.

##Dataset
https://www.kaggle.com/uciml/breast-cancer-wisconsin-data

[2021-06-15 15:39] Jagannath8 commented on #72
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-15 16:01] Niketkumardheeryan commented on #70
@SurajPawar15-smart go for it

[2021-06-15 16:04] Niketkumardheeryan commented on #72
@Jagannath8 this repo already has many simple classification model ,so choose or create other issues

[2021-06-15 16:04] #72 closed

[2021-06-15 16:19] Niketkumardheeryan opened #73 "Basics of Statistics with code."

[2021-06-15 16:20] Niketkumardheeryan opened #74 "Different types of Plots In Seaborn, Matplotlib,Pandas etc,,"

[2021-06-15 16:34] Niketkumardheeryan commented on #1
@NikhiIsaac yep,

[2021-06-15 16:34] #3 closed

[2021-06-15 18:09] Akash20x commented on #15
@Niketkumardheeryan Please assign this to anyone else as I have a lot of work from my internship and college so I can't focus on open source projects for a week.

[2021-06-15 18:56] HitainKakkar commented on #67
Greetings @Niketkumardheeryan,
Kindly assign this issue a level , so that it can be considered for scoring in LGMSOC.
Thank you!!

[2021-06-16 11:55] #6 closed

[2021-06-16 11:59] #20 closed

[2021-06-16 12:01] #22 closed

[2021-06-16 15:07] manuvarghese0603 opened #76 "Optical Character Recognition (OCR)"
Character detector which extracts printed or handwritten text from an image (**Computer Vision**).

Please assign me this issue
**LGM-SOC Participant**

***Programming language***
Python

[2021-06-16 17:02] ayushgoyal9991 commented on #7
Hello, I have completed a content-based recommendation system and uploaded the same in the forked repo. Can you please tell me what do I need to do to make changes in the parent repo?

[2021-06-16 18:21] Niketkumardheeryan opened #78 "create a Python Package."

[2021-06-16 18:57] Sakalya100 commented on #78
@Niketkumardheeryan I would like to work upon this issue. Kindly assign me this

[2021-06-16 18:57] Sakalya100 commented on #74
@Niketkumardheeryan I would like to work on this. Kindly assign me this.

[2021-06-16 18:59] Sakalya100 commented on #73
@Niketkumardheeryan I would like to work on this issue. Please assign me this.

[2021-06-17 04:48] Abhilash249 commented on #64
Please assign me this issue. I want to contribute to this issue

[2021-06-17 07:01] ritikkumar55 commented on #73
@Niketkumardheeryan as a LGMSOC21 participant. I want to work on this issue. Please assign me this.

[2021-06-17 09:28] jayant766 commented on #63
Please assign it to me under LGMSOC'21

[2021-06-17 09:30] jayant766 commented on #51
Please assign to me under LGMSOC'21

[2021-06-17 09:35] shivani6320 commented on #65
Hello. Can you assign me this issue. I am LGM-SOC21 participant. I have all the relevant skills regarding this domain & get best outcome

[2021-06-17 09:38] shivani6320 commented on #62
I would like to contribute. Please assign me this project.

[2021-06-17 11:59] harshita9621 commented on #55
@Niketkumardheeryan Unable to work on this PR.

[2021-06-17 14:49] payaldutta commented on #51
@jayant766 Hey! I am already working on this.

[2021-06-17 15:02] payaldutta commented on #51
@Niketkumardheeryan As I am seeing there's already a contribution guidelines added. So, do you still want me to continue with this issue?
Thank You.

[2021-06-17 15:05] payaldutta opened #81 "Create LICENSE"
Hey as there is no License in the project I would like to add it under LGMSOC'21. Do assign if approved.
Thank You.

[2021-06-17 16:46] abhisheks008 opened #83 "Student's Marks Prediction depending on the study hours"
Hello admin, In this project I an going to predict the marks of a particular student based on the fact the how many study hours that student is having.

Tool used : Jupyter Notebook
Dataset : [student study hours](http://bit.ly/w-data)
Method : Supervised Learning
Algorithm used : Linear Regression

This project will be a great example of Supervised Machine Learning. @Niketkumardheeryan Please ass

[2021-06-17 18:09] #18 closed

[2021-06-17 18:19] Niketkumardheeryan commented on #83
@abhisheks008 sorry no more simple linear regression allowed ,bcz it is already there... choose or create other issues.

[2021-06-17 18:19] #83 closed

[2021-06-17 18:19] #81 closed

[2021-06-17 18:23] Niketkumardheeryan opened #84 "create a unique Chatbot"

[2021-06-17 18:25] Niketkumardheeryan commented on #51
NO need ,

[2021-06-17 18:25] #51 closed

[2021-06-17 18:26] abhisheks008 opened #85 "Medical Charges Analysis for Smokers and Non-smokers"
Hello admin,
In this project I would like to use several machine learning models and also will do an Exploratory data analysis about both the nonsmokers and smokers and after that I will analyze both of the categories based on the features like,
1. gender wise analysis
2. Cost wise analysis
3. age distribution
4. 18+ years old smokers and their medicine charges
5. Smoker parents who have children

[2021-06-17 18:29] Niketkumardheeryan opened #86 "Create a file of SQL Commands"

[2021-06-17 18:32] abhisheks008 commented on #85
Thanks! @Niketkumardheeryan

[2021-06-18 05:30] abhisheks008 commented on #86
Can I work in it after completing my issue?

[2021-06-18 07:55] SwatiPanchal commented on #12
Please assign me this project

[2021-06-18 10:45] #85 closed

[2021-06-18 10:45] Niketkumardheeryan commented on #86
@abhisheks008 complete that issue first

[2021-06-18 10:48] #1 closed

[2021-06-18 11:17] abhisheks008 commented on #86
I have fixed the issue #85 by successfully merging the PR #89. Can I now work on this issue?
@Niketkumardheeryan Please assign this to me.
Thank you!

[2021-06-18 14:16] abhisheks008 commented on #84
@Niketkumardheeryan I want to contribute and fix this issue. Please assign this task to me.

Topic : Creating a Chatbot using Python 3

I have done this kind of chatbot development before and I am aware of these type of things.

[2021-06-18 15:46] payaldutta opened #90 "Adding Contributors Section in readme"
* Adding the Contributors section in the README.md to display all contributors of the project.
* It can be next to the Open-source programs section.

Do assign me under LGMSOC'21.
Thank You.

[2021-06-18 19:01] Niketkumardheeryan commented on #90
No

[2021-06-18 19:01] #90 closed

[2021-06-18 19:11] abhisheks008 commented on #86
Do I have to create a SQL file or, I can explain the commands using a markdown file. Which one will be preferable? @Niketkumardheeryan

[2021-06-18 19:13] abhisheks008 commented on #86
Can you please share the format, it will be easier for me to work on

[2021-06-19 04:35] psyduck1203 commented on #61
Hey, can I work on this issue?

[2021-06-19 12:57] abhisheks008 commented on #84
@Niketkumardheeryan Assign this to me.

[2021-06-19 13:23] harshita9621 commented on #74
Hi,I would like to work on this. Kindly assign me this.

[2021-06-19 17:20] Megha0606 commented on #28
Please assign me this issue

[2021-06-19 23:47] PadminiRai commented on #28
I'm at the verge of completion of this issue.

[2021-06-19 23:52] Niketkumardheeryan commented on #28
@PadminiRai ok, but do it fast.

[2021-06-20 02:30] PadminiRai commented on #28
@Niketkumardheeryan I'm just working on identify the pointers through which I can increase accuracy and precision of my model.

[2021-06-20 11:24] tanvi355 opened #97 "Notebook on numpy and it's inbuilt functions"
I would like to add a jupyter notebook to the repository which will give a basic idea of numpy and it's inbuilt functions.

I am an LGM-SoC'21 participant.

[2021-06-20 13:09] kaustavr19 opened #98 "Addition of different data cleaning techniques"
I want to add some missing value imputation methods as well as full notebook on matplotlib and seaborn libraries. I also want to add a project which consists of some EDA and visualization comparing the stats of Lionel Messi & Cristiano Ronaldo.

I'm an LGMSoC'21 participant.

[2021-06-20 15:59] Jagannath8 opened #99 "Water Quality Prediction"
Title: Water Quality Prediction
Objective: The main objective of this project is to predicting the water quality based on the dataset provided using machine learning algorithms.
Dataset: https://www.kaggle.com/adityakadiwal/water-potability
About: Create model

Approach: I will use multiple machine learning algorithms to compare the accuracy.

[2021-06-20 15:59] Jagannath8 commented on #99
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-20 17:53] payaldutta opened #100 "Adding LGMSOC logo"
Since this project is part of LGMSOC . I think it's good idea to showcase it in README.md file under Open Source Program section I will like to work on this issue under LGMSOC @Niketkumardheeryan

[2021-06-20 19:26] Sakalya100 commented on #78
@Niketkumardheeryan Sir What exactly are you expecting for this issue. I am a bit confused so can you explain a bit to me

[2021-06-20 19:42] #86 closed

[2021-06-20 19:47] Niketkumardheeryan commented on #99
@Jagannath8 sorry no more simple ml model, bcz many simple models are there.. choose or create  other issue

[2021-06-20 19:47] #99 closed

[2021-06-20 19:50] Niketkumardheeryan commented on #100
@payaldutta i removed it yesterday, if u want to really work  only for simple then you can more improve the Readme.md file. otherwise there is no logos and required

[2021-06-20 19:50] #100 closed

[2021-06-20 19:53] Niketkumardheeryan opened #101 "Different types of face detection techniques."
Ex. 1 Using DL. 2 .Computer vision or anything else you want to add..

[2021-06-20 19:58] Niketkumardheeryan opened #102 "Basics of Power Bi"

[2021-06-20 20:01] Niketkumardheeryan opened #103 "Classify the Emails into Spam or Not."

[2021-06-20 20:04] Niketkumardheeryan opened #104 "Ola Bike Ride Request Demand Forecast"

[2021-06-20 20:05] Niketkumardheeryan opened #105 "Speech Emotion Recognition"

[2021-06-20 20:27] Jagannath8 commented on #102
Please provide some description of this issue.

[2021-06-20 20:33] Jagannath8 commented on #103
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-21 06:12] sai-keerthi commented on #101
I would like to use MTCNN to perform facial detection model using deep learning and cascade classifier for detection using opencv.
can you please assign me the task.

[2021-06-21 07:00] UditKaushish commented on #4
Hi @Niketkumardheeryan  I want to work on breast cancer prediction model in which I will use various ml algorithm and tensorflow.Please assign me this take

[2021-06-21 08:33] psyduck1203 commented on #105
Hey, Can I work on this issue?

[2021-06-21 11:29] #84 closed

[2021-06-21 14:27] Megha0606 commented on #7
Please assign me thia issue

[2021-06-21 14:45] HitainKakkar commented on #67
Sorry, but I lost my jupyter notebook file with the analysis of the data for this project.
So I am closing this issue.
Will soon make a new file and contribute.
Thank you for your patience.

[2021-06-21 14:45] #67 closed

[2021-06-21 21:09] abhishek2chikun opened #111 "Neural Style Transfer"
LGM-SOC Participant.
I want to work on Neural Style Transfer.
Please assign me.
Thanks
![](https://analyticsindiamag.com/wp-content/uploads/2020/06/1_kOQOZxBDNw4lI757soTEyQ.png)

[2021-06-22 02:31] PadminiRai commented on #28
@Niketkumardheeryan I've created the PR for this issue .
**PR** : https://github.com/Niketkumardheeryan/Hands-on-ML-Basic-to-Advance-/pull/112

[2021-06-22 07:53] Soumayan-pal01 commented on #104
Hey @Niketkumardheeryan I would like on this issue. Please assign me if possible. Thank you.

[2021-06-22 11:19] PadminiRai commented on #13
@Niketkumardheeryan I've created the PR for this issue.
**PR** : https://github.com/Niketkumardheeryan/Hands-on-ML-Basic-to-Advance-/pull/114

[2021-06-22 11:56] HitainKakkar opened #115 "U.S. weather history visualization"
Greetings Sir/Mam,

I would like to work on this project and contribute!!
For this I have prepared a Jupyter notebook for the main code/analysis and 2 datasets.
Kindly assign me this issue.
This is regarding LGMSOC.
I have made the Pull Request for the same #116

{Description of project}

### U.S. weather history visualization

The raw data and code behind the story [What 12 Months Of Record-Setti

[2021-06-22 12:56] Megha0606 commented on #7
Any update ? Can I work on this issue?

[2021-06-22 15:04] #103 closed

[2021-06-22 15:29] #61 closed

[2021-06-22 16:41] #115 closed

[2021-06-22 17:31] Soumayan-pal01 commented on #104
Thank you @Niketkumardheeryan . I will be working on the 'Model Creation' part to perform a comparative analysis using different models after doing data preprocessing and visualizations. I will inform once I have created the PR.

[2021-06-22 20:06] Niketkumardheeryan opened #120 "Improve Readme.md file ..."

[2021-06-23 04:52] harshita9621 commented on #102
Can I work on this issue?

[2021-06-23 04:52] harshita9621 commented on #65
Can I work on this issue??

[2021-06-23 07:51] Akash20x commented on #120
@Niketkumardheeryan Please assign me this issue as a part of LGM-SOC'21 and give some description what I have to improve it in README.md

[2021-06-23 07:54] Sakalya100 commented on #78
@Niketkumardheeryan Sir Why did I get unassigned . Can you please tell?

[2021-06-23 09:39] Niketkumardheeryan commented on #120
@Akash20x add the content of the repository into readme.md file and some unique or latest feature.

[2021-06-23 10:58] Akash20x commented on #120
@Niketkumardheeryan OK I will do it, please assign me this issue.

Basically, I will add all projects names and short description in the last and I will also improve Get Started, have a look, Contributing guidelines section and also add some more topics and it's description in the topic section.

[2021-06-23 18:37] Shivani-Khare commented on #65
Hello sir, Please assign me this issue. Really want to work for it. I am LGM-SoC21 participant.

[2021-06-23 18:41] Shivani-Khare opened #123 "Analysis of Temperature rise in PMSM motor."
Hello Sir,

Kindly assign me this issue. I really want to work for it. I aim at performing a complete exploratory data analysis on a permanent magnet synchronous motor data set. Please assign me this issue.

I am a LGM - SoC21 participant. @Niketkumardheeryan

[2021-06-23 19:41] harshita9621 commented on #105
Can I work on this issue

[2021-06-24 02:13] coding-geek21 opened #124 "Add contributors to readme file"
I would like to work on this please assign me @Niketkumardheeryan

[2021-06-24 02:14] #124 closed

[2021-06-24 02:15] coding-geek21 opened #125 "Automate issue templates"
I would like to work on this please assign me @Niketkumardheeryan

[2021-06-24 06:43] psyduck1203 commented on #105
Hey, @harshita9621 I'm already working on this issue. Can you please choose some other issue to work on!

[2021-06-24 08:21] harshita9621 commented on #74
hii @Niketkumardheeryan can you please assign me this i have a great content in the visualization part with the proper example. Kindly assign me this.

[2021-06-24 12:34] #97 closed

[2021-06-24 12:37] #76 closed

[2021-06-24 12:46] #13 closed

[2021-06-24 12:47] #28 closed

[2021-06-24 12:52] Niketkumardheeryan commented on #125
@coding-geek21 what do u want to do...

[2021-06-24 12:54] Niketkumardheeryan commented on #120
@Akash20x automate the project section

[2021-06-24 12:56] Niketkumardheeryan commented on #78
@Sakalya100  check ur timing or question u asked...

[2021-06-24 13:00] Sakalya100 commented on #78
Yes @Niketkumardheeryan sir I understood my mistake. Actually in the middle my laptop got crashed so I was not able to work in those 4 days. Its okay sir first I will finish the one issue then focus on other

[2021-06-24 14:31] Akash20x commented on #120
OK

[2021-06-24 16:03] anubhav201241 opened #127 "Face_Detection using Open Cv"
I want to contribute to your project by adding Face and Eye detection part with the help of Opencv and Python
In which it can detect the face, eye, and middle part of the face with the use of open cv and Python

@Niketkumardheeryan Kindly assign this issue to me under the label of LGMSOC'21

[2021-06-24 16:09] Soumayan-pal01 commented on #104
I have created the PR. Please review it @Niketkumardheeryan . Thank you.

[2021-06-24 17:46] usgn94 commented on #54
@Niketkumardheeryan  I would like to work on this issue. Could you please assign me

[2021-06-24 17:47] usgn94 commented on #53
@Niketkumardheeryan I would like to work on this issue. Could you please assign me

[2021-06-24 17:49] usgn94 commented on #15
@Niketkumardheeryan I would like to work on this issue. Could you please assign me

[2021-06-25 04:37] abhinav-bhardwaj opened #130 "Meteorite Landings Data Analysis"
I would like to provide a data analysis of the meteorite landings dataset provided by NASA and the Meteoritical society.
Also, I would like to work on this issue as a participant of LGM-SoC'21

[2021-06-25 10:04] abhisheks008 opened #132 "Plant Seedlings Classification"
Hey @Niketkumardheeryan  , I am up for this issue and I want to contribute in this.

Name of the issue : PLANT SEEDLINGS CLASSIFICATION

- [x]  LGMSOC Participant

Approach : For this project I would like to use CNN. The architectures that I am gonna use are, ResNet, AlexNet, Vgg, Inception, MobileNet, SqueezeNet, DenseNet.

Description : This project is all about deploying the classification mode

[2021-06-25 14:24] Abhilash249 commented on #64
Do we have to use any specific dataset for songs recommendation ?

[2021-06-25 14:46] #104 closed

[2021-06-25 14:49] Niketkumardheeryan commented on #127
@anubhav201241 someone is working on this issue...

[2021-06-25 14:50] #127 closed

[2021-06-25 14:53] Niketkumardheeryan opened #133 "Paraphrase detection using NLP"
Paraphrase detection is an NLP application that detects whether or not two different sentences have the same meaning. It is widely used in machine translation, question answering, information extraction/retrieval, text summarization, and natural language generation.

[2021-06-25 14:56] Niketkumardheeryan opened #134 "Automatic Summarization of Scientific Papers"

[2021-06-25 15:16] usgn94 commented on #133
@Niketkumardheeryan could you please assign me this issue

[2021-06-25 15:18] anubhav201241 commented on #101
@Niketkumardheeryan can I work upon this ?

[2021-06-26 04:03] abhisheks008 opened #136 "Exports classification of Canada"
Hey @Niketkumardheeryan, I am up for this issue and I want to contribute in this.

Name of the issue : Exports classification of Canada

- [x] LGMSOC Participant

Approach : For this classification model I would like to use Random forest, decision tree, linear regression and some more algorithms. After that I'll evaluate them based on the accuracy scores.

Description : This project is all about d

[2021-06-26 13:28] Niketkumardheeryan commented on #136
@abhisheks008 no more simple classification required...

[2021-06-26 13:28] #136 closed

[2021-06-26 13:29] #125 closed

[2021-06-26 13:35] #4 closed

[2021-06-26 13:35] #7 closed

[2021-06-26 13:37] #19 closed

[2021-06-26 13:38] #25 closed

[2021-06-26 13:39] #27 closed

[2021-06-26 13:40] #30 closed

[2021-06-26 13:41] #52 closed

[2021-06-26 13:41] #53 closed

[2021-06-26 13:42] #55 closed

[2021-06-26 13:42] #57 closed

[2021-06-26 13:45] #74 closed

[2021-06-26 13:45] #98 closed

[2021-06-26 15:08] omagrawal1111 opened #137 "Central Limit Theorem-Example with Dice"
Hey! I am Om Agrawal, the LGM-SoC'21 participant.
Kindly assign me this issue.

[2021-06-26 19:30] Sakalya100 commented on #78
@Niketkumardheeryan Sir kindly assign me this issue. I want to work on this issue

[2021-06-26 19:32] Sakalya100 commented on #66
@Niketkumardheeryan Please assign me this. I want to work on this issue sir.

[2021-06-26 21:54] Akash20x commented on #120
@Niketkumardheeryan Please check my pull request

[2021-06-27 15:49] kaustavr19 opened #140 "Different Data cleaning techniques"
I want to add different data cleaning and missing value imputation techniques: -
 Imputation of numerical and categorical variables
 Imputation using mean & median values
 Imputation using most frequent values
 Imputation using Scikit-learn SimpleImputer
 Imputation using Scikit-learn SimpleImputer, ColumnTransformer and Pipeline

for LGMSoC'21

[2021-06-28 06:30] #62 closed

[2021-06-28 06:43] shivani6320 commented on #54
I would like to contribute to this issue. Please assign me.

[2021-06-28 06:53] Sakalya100 commented on #78
@Niketkumardheeryan Sir thank you for assigning me this issue. But I am a bit confused about this issue. So I want to work on the issue #66 first as I already have some material for that issue. So please assign me that first if possible.

[2021-06-28 11:08] Megha0606 commented on #16
Can I work on this issue?

[2021-06-28 11:09] Megha0606 commented on #17
Can I work on this issue?

[2021-06-28 13:07] rammya29 commented on #26
Since it is posted as up for grab can I work on this issue?

[2021-06-28 14:03] Niketkumardheeryan commented on #26
@rammya29 sure

[2021-06-28 14:10] Jyoti6828 commented on #15
@Niketkumardheeryan I want to work on this issue. So please assign this issue to me.

[2021-06-28 14:22] Jyoti6828 commented on #66
@Niketkumardheeryan I want to work on this issue. Please assign this issue to me.

[2021-06-29 07:16] Jyoti6828 commented on #29
@Niketkumardheeryan  can you please assign this issue to me? I saw its up for grab

[2021-06-29 07:17] Jyoti6828 commented on #29
@Niketkumardheeryan can you please assign this issue to me? I saw its up for grab

[2021-06-29 07:17] Jyoti6828 commented on #37
@Niketkumardheeryan can you please assign this issue to me? I saw its up for grab

[2021-06-29 07:22] Jyoti6828 commented on #24
@Niketkumardheeryan can you please assign this issue to me? I saw its up for grab. I will use beautifulsoup4 ,request and response library

[2021-06-29 11:32] akash435 opened #143 "Stock Price Changes Prediction"
In this I will develop a model which will predict the prices of stock whether it will increase or decrease using stock news.

Will be using various libraries like numpy, scikit learn, matplotlib

And in algorithm will use random forrest.

And predict whether the stock price will increase or decrease.

[2021-06-29 11:33] akash435 commented on #143
@Niketkumardheeryan ,please assign this to me under LGM SOC.

[2021-06-29 15:32] Megha0606 commented on #105
Hey it's more than 10 days, someone else should get an opportunity to work also?
I hope you consider this

[2021-06-29 15:33] Megha0606 commented on #16
Can I work on this issue???

[2021-06-29 17:38] Niketkumardheeryan commented on #16
@Megha0606 go for it...

[2021-06-29 17:39] #2 closed

[2021-06-29 17:43] Niketkumardheeryan commented on #143
@akash435 check issue no . #37

[2021-06-29 17:43] #143 closed

[2021-07-01 05:07] ASLManasa opened #147 "Heart disease prediction."
I am LGM SoC21 participant. I want to create heart predection model by improving the accuracy and comparing different models. Kindly assign me this issue.Thanks

[2021-07-01 05:14] ASLManasa opened #148 "fraud credit card detection"
I am LGM SoC21 participant. I want to create a model for fraud  credit card detection using Machine Learning. Kindly assign me this issue.Thanks

[2021-07-02 03:07] suy1968 commented on #147
Please assign me as I am a participant of LGMSOC'21.

[2021-07-02 03:09] suy1968 commented on #148
Please Assign me this issue as I am a participant of LGMSOC'21.

[2021-07-02 03:11] suy1968 opened #149 "EDA-and-Perform-Modelling-on-Ionosphere.csv"
Please Assign me this issue as I am a participant of LGMSOC'21.

[2021-07-02 09:21] SuryanshNaugraiya commented on #65
@Niketkumardheeryan sir please assign the issue #65 to me as i have created an amazing end to end project using html, css, javascript. You can check the screenshots of my project.

![Screenshot (245)](https://user-images.githubusercontent.com/53707393/124252383-845eda80-db44-11eb-8dcf-43e6f84ae023.png)
![Screenshot (246)](https://user-images.githubusercontent.com/53707393/124252392-86c13480-db44-1

[2021-07-02 09:29] #105 closed

[2021-07-02 09:34] SuryanshNaugraiya commented on #70
@Niketkumardheeryan sir please assign the issue #70 under LGMSOC21 to me. I want to contribute in this

[2021-07-02 09:44] #140 closed

[2021-07-02 09:46] Niketkumardheeryan commented on #70
@SuryanshNaugraiya only add Basics of Machine learning ...

[2021-07-02 09:47] Niketkumardheeryan commented on #70
& Deep learning too...

[2021-07-02 09:48] Niketkumardheeryan opened #150 "Basic Ms -Excel Commands for Data analysis ..."

[2021-07-02 09:50] SuryanshNaugraiya commented on #70
@Niketkumardheeryan should i add all the ipynb files in one folder called Notes, or should i separately upload all the files?

[2021-07-02 09:51] ASLManasa commented on #148
@Niketkumardheeryan can I start working on this.

[2021-07-02 09:52] Niketkumardheeryan commented on #70
add a folder named Basics of ML and Dl and put ur all files into it..

[2021-07-02 09:53] SuryanshNaugraiya commented on #70
ok

[2021-07-02 09:54] Niketkumardheeryan commented on #148
yup...
@ASLManasa But the accuracy of the model must be high without under or overfitting..

[2021-07-02 10:40] ASLManasa commented on #148
@Niketkumardheeryan ok I will try to do so. Thanks.

[2021-07-02 11:09] Akash20x commented on #150
I want to solve this issue,
Can you explain in detail what you exactly want

[2021-07-02 11:16] Akash20x commented on #120
@Niketkumardheeryan
Please close this issue

[2021-07-03 03:41] akash435 opened #153 "IPL Data Analysis"
In this I will develop a model which will predict the winner of the IPL by analysing the data.

Will be using various libraries like numpy, matplotlib, seaborn library for this

And will use plotly library to make plot more effective

And predict which team will win from two team playing.

[2021-07-03 03:42] akash435 commented on #153
@Niketkumardheeryan , please assign this to me under LGM SOC.

[2021-07-03 08:52] manognyaa opened #154 "Heart failure prediction"
hello sir,
my project consists of prediction of heart failure using health parameters like platelets, blood pressure level, etc.
The dataset used is the 'Heart Failure Prediction', obtained from UCI Machine Learning Repository.

please assign this issue to me @Niketkumardheeryan sir

[2021-07-03 16:49] Akash20x opened #155 "Parkinson's Disease Prediction"
I want to make a model for Parkinson's Disease Prediction which can predict if a person has a parkinson disease or not.

@Niketkumardheeryan
Please assign me this issue as a part of LGM-SOC'21

[2021-07-04 16:43] ASLManasa commented on #147
@Niketkumardheeryan Sir, I have made a pr Kindly look into it. Thank you.

[2021-07-04 17:46] #153 closed

[2021-07-04 17:46] #155 closed

[2021-07-04 17:49] #132 closed

[2021-07-04 17:49] akash435 commented on #153
@Niketkumardheeryan if possible can you tell the reason of closing issue?

[2021-07-04 17:49] #130 closed

[2021-07-04 17:50] #102 closed

[2021-07-04 18:02] Sakalya100 commented on #150
Sir I want to work on this issue. Please assign me this

[2021-07-04 18:04] Niketkumardheeryan opened #159 "Audio classification using DL algorithms"

[2021-07-04 18:05] Niketkumardheeryan opened #160 "Video Classification using DL algos"

[2021-07-04 18:07] #149 closed

[2021-07-04 18:08] #36 closed

[2021-07-04 18:31] Nithin2528 opened #162 "Student Score Predictor"
Predicts the score of the student by number of hours studied.

[2021-07-04 18:32] Akash20x commented on #155
@Niketkumardheeryan Why you closed it

[2021-07-04 19:06] Jagannath8 commented on #56
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-04 19:09] khushi-purwar opened #164 "Market Basket Analysis"
Can i add market basket analysis using Apriori Algorithm @Niketkumardheeryan

[2021-07-05 02:33] manognyaa commented on #154
thank you sir @Niketkumardheeryan

[2021-07-05 06:30] Akash20x commented on #160
@Niketkumardheeryan Please give some description about the issue.

[2021-07-06 14:36] Megha0606 commented on #162
Can I work on this issue?

[2021-07-06 17:52] manognyaa opened #168 "Random forest test"
Hello sir,
I would like to work on this issue, please assign this to me @Niketkumardheeryan sir.

[2021-07-06 17:57] manognyaa commented on #159
I would like to work on this @Niketkumardheeryan sir. please assign this to me.

[2021-07-06 21:13] Niketkumardheeryan commented on #168
@manognyaa what is random forest Test

[2021-07-06 21:14] Niketkumardheeryan opened #169 "No More Simple Regression or Classifications...."
Go for advanced topic

[2021-07-07 07:40] manognyaa commented on #168
@Niketkumardheeryan sir, actually it is a process of combining multiple classifiers to solve a complex problem and to improve the performance of the model.

steps it will follow :
i. Starts by selecting random samples from given dataset using the bootstrap technique.
ii. This algorithm will construct a decision tree for every sample, then it will get prediction result from each decision tree.
iii.

[2021-07-07 15:05] Jagannath8 commented on #56
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-07-07 18:08] Shivani-Khare commented on #123
@Niketkumardheeryan Can you please assign this issue back to me? I had some issues with the code, but its resolved now.
Request you to kindly assign this issue back to me as I am really interested in it.

[2021-07-07 18:48] Shivani-Khare opened #171 "EDA on Titanic incident"
@Niketkumardheeryan I am a participant of LGM SoC'21. Kindly assign me this issue. Really interested in working for it.

[2021-07-09 12:04] 23-24 commented on #11
sir can I work on this

[2021-07-09 12:31] Shivani-Khare commented on #123
Thank you sir for assigning the issue back to me.  I will generate a pull request soon. @Niketkumardheeryan

[2021-07-10 20:19] jannatulferdaws opened #175 "Pandas - Basics"
As an **LGM SoC'21 Participant**, I want to add **Pandas - Basics** in this repo.
Can you assign me to do it?

[2021-07-11 17:56] shivani6320 commented on #134
@Niketkumardheeryan , I would like to work on this issue. Can you pls assign me?

[2021-07-12 04:25] CRYPTOcoderAS opened #176 "Data Cleaning Techniques"
@Niketkumardheeryan i want to add ipynb files showing the different techniques to fill the missing values and clean the data for better model predictions.

[2021-07-13 08:38] aryantiwari10 opened #177 "Diabetes Prediction"
I want to work on this project please assign it to me

[2021-07-13 09:16] Sakshi-2100 opened #178 "Matplotlib-Basics"
I want to add this in this repo.

[2021-07-13 15:12] Niketkumardheeryan commented on #11
@23-24 now  go for it

[2021-07-13 15:32] Niketkumardheeryan opened #180 "Improve Readme.md file of this project..."

[2021-07-14 04:08] aryantiwari10 opened #181 "Spam Mail Detection - NLP"
What I have done :

-Firstly I have imported the required libraries, and loaded the dataset onto the notebook.

-It is important to understand and preprocess the data before feeding it to model.

-As my dataset here include string data , I have preprocessed the text by converting it into lowercase and removing all the unnecessary word from the data which do not help in model building.

-As we cann

[2021-07-14 17:06] drashtipatel2503 opened #184 "Beginning with numpy"
I am LGM SOC'21 participant.

I can add a notebook with all examples of functions available in NumPy.

[2021-07-16 20:20] soma2000-lang opened #185 "Stock Market Prediction using Numerical and texttual Analysis"
@Niketkumardheeryan

Please assign me this issue

[2021-07-16 21:20] suy1968 commented on #177
please assign me as I am a participant of LGMSOC'21

[2021-07-18 06:21] pranjall29 opened #186 "Car and Pedestrians Detection Using Open CV"
I would like to create an Open CV project which detects cars and Pedestrians from videos using Cascade Classifier. Will be done as a part of LGMSOC'21.

[2021-07-18 20:26] soma2000-lang commented on #185
@Niketkumardheeryan ,I am a participant of LGMSOC21,kindly assign me this issue

[2021-07-19 15:47] soma2000-lang commented on #180
I would like to work on this .Kindly assign me this.
I am an LGMSOC-21 participant

[2021-07-20 17:52] Gaurav1401 opened #187 "Advanced Visualizations"
Hi @Niketkumardheeryan, I am a participant of LGMSoc, would like to add a .ipynb file showing some advanced visualizations using plotly.

[2021-07-21 13:36] Gaurav1401 commented on #187
@Niketkumardheeryan I have made the pull request, please have a look

[2021-07-21 14:13] suy1968 opened #191 "Exploratory-data-analysis"
The dataset was released by Aspiring Minds from the Aspiring Mind Employment Outcome 2015 (AMEO).The dataset contains around 40 independent variables and 4000 data points. The independent variables are both continuous and categorical in nature. The dataset contains a unique identifier for each candidate.

Perform EDA On this Dataset.

[2021-07-21 14:14] suy1968 commented on #191
Please Assign me as I am Participants of LGMSOC21'
@Niketkumardheeryan @Shivani-Khare

[2021-07-28 07:31] drishtibaranwal opened #195 "News classification using Naive bayes algorithm"
I am a participant of LGMSOC'21. I want to work on this issue. In this project, if any text is given to the algorithm,it will classify it to different news groups like politics, religion, space etc. Please assign me this issue.

[2021-07-28 07:32] drishtibaranwal commented on #195
Please assign it to me

[2021-07-29 07:36] ASLManasa opened #197 "Fake news Detection"
Hi @Niketkumardheeryan, I am a participant of LGMSoc, would like to add Fake news classification using nlp and Ml algorithms. Kindly assign me this issue. Thanks

[2021-07-29 16:51] Umesh-01 opened #198 "Add some more badges with links"
### Description
Add some more badges to the top of readme.md file with links related to them, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

![image](https://user-images.githubusercontent.com/8

[2021-07-29 17:11] Umesh-01 commented on #198
@Niketkumardheeryan should I make these changes??

[2021-08-10 08:37] Niketkumardheeryan commented on #195
@drishtibaranwal go for it .

[2021-08-10 08:41] #134 closed

[2021-08-18 02:05] #5 closed

[2021-08-25 03:34] sai-keerthi commented on #101
Is there any issue to be addressed??

[2021-09-01 02:10] #64 closed

[2021-09-02 02:05] #63 closed

[2021-09-02 02:05] #23 closed

[2021-09-04 02:07] #66 closed

[2021-09-04 02:07] #54 closed

[2021-09-04 02:07] #26 closed

[2021-09-04 02:07] #12 closed

[2021-09-05 02:08] #37 closed

[2021-09-05 02:08] #24 closed

[2021-09-05 02:08] #29 closed

[2021-09-05 02:08] #17 closed

[2021-09-05 02:08] #15 closed

[2021-09-05 02:08] #16 closed

[2021-09-09 02:08] #148 closed

[2021-09-09 02:08] #70 closed

[2021-09-09 02:08] #65 closed

[2021-09-10 02:09] #164 closed

[2021-09-10 02:09] #150 closed

[2021-09-10 02:09] #137 closed

[2021-09-10 02:09] #147 closed

[2021-09-10 02:09] #133 closed

[2021-09-10 02:09] #120 closed

[2021-09-10 02:09] #111 closed

[2021-09-10 02:09] #73 closed

[2021-09-12 02:09] #169 closed

[2021-09-12 02:09] #162 closed

[2021-09-12 02:09] #159 closed

[2021-09-12 02:09] #154 closed

[2021-09-12 02:09] #78 closed

[2021-09-14 02:07] #171 closed

[2021-09-14 02:07] #160 closed

[2021-09-14 02:07] #168 closed

[2021-09-14 02:07] #56 closed

[2021-09-15 02:07] #123 closed

[2021-09-19 02:09] #178 closed

[2021-09-19 02:09] #176 closed

[2021-09-19 02:09] #175 closed

[2021-09-19 02:09] #11 closed

[2021-09-22 02:10] #177 closed

[2021-09-26 02:08] #180 closed

[2021-09-27 02:09] #185 closed

[2021-09-27 02:09] #186 closed

[2021-09-27 02:09] #184 closed

[2021-09-27 02:09] #181 closed

[2021-09-28 02:09] #187 closed

[2021-10-03 02:10] #191 closed

[2021-10-06 02:09] #198 closed

[2021-11-02 02:11] #101 closed

[2022-01-20 18:55] Niketkumardheeryan opened #201 "improve the readme.md file"
* Remove the useless section and text or make it more dynamic

[2022-02-27 06:15] Krishna841 commented on #201
Hey there!!! I would like to work on this issue. Can you assign it to me?

[2022-02-28 02:16] PurvajaDurga commented on #201
Hi, I'm Purvaja.
I would like to work on this issue.
And add the resources to the repo.
Can you assign it to me?

[2022-02-28 19:15] Niketkumardheeryan commented on #201
wait for 1 more day ....

[2022-02-28 21:28] Jyo561 opened #202 "Fake News Detection using ML"
I am going to use Julia for this so this is new one

[2022-03-01 03:14] SayanSaha01 opened #203 "Asteroid Threat Detection"
Hey I wanted to work on Asteroid Threat Detection using Deep Learning as well as Different Classification Algorithms. Can you assign it to me?

[2022-03-01 04:47] srummanf commented on #201
hey, I would like to work on this issue !.

[2022-03-01 05:29] srajan-kiyotaka opened #204 "Deep Learning Model for Email Spam classifier"
Deep Learning Model to classify whether the email is spam or not spam mail using Neural networking and NLP.

[2022-03-01 05:30] srajan-kiyotaka commented on #204
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-01 05:32] aritra1804 commented on #201
Hey I would like to work this issue for GSSOC 22

[2022-03-01 05:35] aritra1804 opened #205 "hey I wanted to work on project of Medicine Reader"

[2022-03-01 05:39] Jatin7385 commented on #202
I could work on the Python version of Fake news detection

[2022-03-01 05:42] Jatin7385 opened #206 "Driver Drowsiness Detection"
Hey, I'd like to work on Driver drowsiness detection in Python using Deep Learning

[2022-03-01 07:42] Binal02Singh commented on #202
I can too work on Fake news detection using python

[2022-03-01 07:48] Binal02Singh opened #207 "Stock Market Price Prediction"
I have good knowledge regarding stock market and wanted to combine it with Python to make a prediction model and help other small or big investors to gain some profits.

Please assign me this project.

[2022-03-01 07:51] Binal02Singh opened #208 "Breast Cancer Prediction"
This prediction model can save a lot of women from undergoing harsh cancer treatments.

I would love to help them using my ML skills, Please assign me this project.

[2022-03-01 07:53] Jyo561 commented on #202
So i will be working on it using Julia

[2022-03-01 07:54] Binal02Singh commented on #202
Can't we make 2 versions , 1 using julia and another one using python?

[2022-03-01 08:21] Jyo561 commented on #202
I am not a maintainer i am just a participant

[2022-03-01 08:30] shivam-s16 commented on #207
I am also interested in this project .

[2022-03-01 08:34] shivam-s16 opened #209 "Loan Approval Prediction"
Loan Approval Prediction by various classifiers like Decision Tree, Random Forest & Logistic Regression Modeling.
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-01 08:39] Binal02Singh opened #210 "Medical Insurance Prediction"
This feature will help people to have an idea about the price of the medical insurance and this will help them by not getting scammed.

I am participating in GsSOC'22. Please assign me this project.

[2022-03-01 08:48] shivam-s16 commented on #201
Hey I am Shivam I am GSSOC 22 participant would like to work this issue.

[2022-03-01 11:19] shivam-s16 opened #211 "Covid-19 Timeseries Analysis with multiple model"
Covid-19 third wave analysis using multiple models to test which one suits the best among the all . Basically to find the best model.
I would like to work on this under GSSOC'22
Using multiple model help in comparing between models .
Please assign this project to me .

[2022-03-01 12:22] Snossy123 commented on #208
Description
I want to do Breast Cancer Prediction.
I am a contributor to GSSoC'22. Please assign this issue to me.

Language use:
Python
؛

[2022-03-01 12:24] Snossy123 commented on #210
This feature can facilitate individuals to own a thought regarding the value of medical insurance and this may facilitate them by not obtaining scammed.
I am participating in GsSOC'22. Please assign me this project.

[2022-03-01 12:26] Snossy123 commented on #211
Covid-19 third wave analysis victimization multiple models to check that one suits the most effective among all. to seek out the most effective model.
I would prefer to work on this beneath GSSOC'22
Using multiple models facilitates examination between models.
Please assign this project to Maine.

[2022-03-01 12:28] Snossy123 commented on #207
I would prefer to work on this beneath GSSOC'22
Using multiple models facilitates examination between models.
Please assign this project to Maine.

[2022-03-01 12:29] Snossy123 commented on #202
I would prefer to work on this beneath GSSOC'22
Using multiple models facilitates examination between models.
Please assign this project to Maine.

[2022-03-01 12:30] Snossy123 commented on #203
I would prefer to work on this beneath GSSOC'22
Using multiple models facilitates examination between models.
Please assign this project to Maine.

[2022-03-01 12:30] Binal02Singh commented on #208
I forgot to mention that I am participating in GSSoC'22

[2022-03-01 12:31] Snossy123 commented on #204
I want to work on this issue
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-01 12:33] Snossy123 commented on #206
I'd like to work on Driver drowsiness detection in Python using Deep Learning for GSSoC'22

[2022-03-01 12:34] Snossy123 commented on #209
I'd like to work on Loan Approval Prediction in Python using machine Learning for GSSoC'22

[2022-03-01 13:06] AniruddhA-Omni commented on #208
Hello, Can you assign this issue to me, I have already experience in making this type of model.

[2022-03-01 13:07] UrviSinghal28 opened #212 "Credit Card Approval Prediction"
I would like to build a machine learning model for predicting credit card approvals using logistic regression.
I would like to contribute to this project under GSSoC'22.
Please assign this to me.

[2022-03-01 15:00] nikhil25803 commented on #212
I too want to work on this issue so can you please assign it to me?

[2022-03-01 15:16] AniruddhA-Omni commented on #210
Hello, I have worked on this type of projects before. Can you assign me this issue?

[2022-03-01 15:20] debamitr1012 opened #213 "OpenSourceContribution"
I want to contribute in this project... please tell me what to do. You can whatsapp me at +91 9836578565
Thank You.

[2022-03-01 16:37] Niketkumardheeryan commented on #208
No it's already there or(similar)

[2022-03-01 16:38] Niketkumardheeryan opened #214 "Only well Documented Codes allow"

[2022-03-01 18:09] gautamgc17 opened #215 "Brain Tumor Segmentation using U-Net"
Hey I want to design a CAD system for Brain Tumor Segmentation (MRI modality) using U-Net deep learning model. Can you please assign this task to me?

[2022-03-01 18:12] gautamgc17 opened #216 "Image Caption Generator"
I want to make an Image caption generator project i.e generate a textual description for a given image in English language using LSTM (for sequence modelling) and CNN (for image feature extractor). Please assign this to me.

[2022-03-01 18:15] DaisyRamone14 commented on #201
hey i would like to work on this issue

[2022-03-02 09:56] Mennatallah9 commented on #201
I'm a GSSoC 22 participant. I'd like to work on this issue. Can you assign it to me?

[2022-03-02 13:16] amgad-div commented on #207
Hey bro,I would love to contribute and add some more functionality to it with you.

[2022-03-02 13:16] amgad-div commented on #207
Hey bro,I would love to contribute to it with you.

[2022-03-02 15:15] tandrimasingha commented on #202
Name: Tandrima Singha
Domain: Machine Learning
Aim: To build a model that detects fake news using NLP and Machine Learning.
GSSOC Participant

Hello sir I would like to work on this issue

[2022-03-02 15:18] tandrimasingha opened #217 "Bitcoin Price Prediction using ML"
To predict the price of bitcoin using machine learning.

[2022-03-02 15:19] tandrimasingha commented on #217
GSSOC Participant .
I would like to work on this issue.

[2022-03-02 18:17] durbar2003 commented on #204
I would like to work on this issue for GSSOC'22. Please assign it

[2022-03-02 18:19] durbar2003 opened #218 "Image Processing"
Hey, I have created this issue for Image Processing. Please assign this to me for GSSOC'22

[2022-03-02 18:29] Niketkumardheeryan opened #219 "Stocks prices analysis (Time series forecasting)"

[2022-03-02 18:31] Niketkumardheeryan opened #220 "Different models for Time series forecasting"

[2022-03-02 18:34] Niketkumardheeryan opened #221 "movie or songs Recommendation system"

[2022-03-02 18:36] Niketkumardheeryan opened #222 "Sorting of Specific Tweets on Twitter"
, it would be great to filter tweets containing specific words and information quickly

[2022-03-02 18:38] Niketkumardheeryan opened #223 "Fake News Detection"
Create a model mL/DLfor fake news detectrion

[2022-03-02 18:40] Niketkumardheeryan commented on #201
@Krishna841 ,hey pls start working ,and do it fast otherwise i will assign this issue to others

[2022-03-02 18:42] Niketkumardheeryan commented on #213
@debamitr1012 hey, you can choose the issue or create your own issues..

[2022-03-02 18:42] Niketkumardheeryan commented on #212
sorry ,its already there...

[2022-03-02 18:42] #212 closed

[2022-03-02 18:43] Niketkumardheeryan commented on #211
@shivam-s16 Hey, pls start working ...

[2022-03-02 18:45] Niketkumardheeryan commented on #205
@aritra1804 pls explain briefly

[2022-03-02 18:49] Niketkumardheeryan commented on #202
@Jyo561 @Jatin7385 start working according to your preference ....

[2022-03-02 18:50] Niketkumardheeryan commented on #202
@Snossy123 hey, you can choose other issues or create your own issues..

[2022-03-02 18:50] #223 closed

[2022-03-02 18:52] Niketkumardheeryan opened #224 "Rock Paper Scissors Python Game"

[2022-03-02 18:55] Niketkumardheeryan opened #225 "Fundamentals of Python (Ex. Tuples, sets, Basic syntax rules, etc.....)"
Create a python file for basics of python .....

[2022-03-02 18:58] aritra1804 commented on #205
Like a project that reads and extracts medicine labels and information from medicines and pill containers

[2022-03-02 19:30] Mennatallah9 commented on #225
I'd like to work on this issue. Can you assign it to me?

[2022-03-02 19:40] debamitr1012 commented on #213
ok sure i thought of uploading my own project here

[2022-03-02 19:41] Jatin7385 commented on #202
Will do. Thanks👍

[2022-03-02 20:24] Mennatallah9 commented on #224
I'd like to work on this issue. Can you assign it to me?

[2022-03-02 20:53] durbar2003 commented on #220
Hey, I would like to work on this issue by constructing models for Time Series forecasting and analysis using Python and Machine Learning tools such as Tensorflow. Please assign this to me.

[2022-03-03 01:38] PurvajaDurga commented on #221
Hi, Can you please assign to me.

[2022-03-03 02:30] UrviSinghal28 commented on #219
Can you please assign this to me

[2022-03-03 03:41] shivam-s16 commented on #219
Can you assign me this as I am doing time series on Covid-19?

[2022-03-03 04:03] arinjain373 commented on #224
I like to work on this issue. Can you please assign it to me?

[2022-03-03 04:41] Krishna841 commented on #201
Hey!!! How should I improve the readme? Can you give some suggestions or should I create a readme for a specific project?

[2022-03-03 04:46] shreya024 opened #226 "Image Recognizer on MNIST data"
I am a GSSOC'22 contributor.I would like to build an Image Recognizer on the MNIST dataset that identifies numbers using keras.Kindly assign @Niketkumardheeryan

[2022-03-03 04:48] Binal02Singh commented on #221
Hello @Niketkumardheeryan I have done this project, should I create a pull request??

[2022-03-03 04:50] Binal02Singh commented on #219
Hello @Niketkumardheeryan
I have made a project on stock market prediction using various algorithms and checked their accuracy.

Can you pls assign me this project.

[2022-03-03 04:52] Binal02Singh commented on #225
Hello @Niketkumardheeryan
I have a lot of experience and questions for this issue as I have been worked as a Teaching Assistant too

Can you pls assign me this issue..

[2022-03-03 05:26] lokita282 commented on #222
Hey, I would like to work on this issue under gssoc '22

[2022-03-03 05:45] shivam-s16 commented on #224
I am also interested in this work could you please assign this to me under GSSoC'22?

[2022-03-03 05:46] Suvodeep-Das commented on #224
Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: Creating Rock Paper Scissors game using python.
GSSoC'22 Participant.

I would like to work on this issue.

[2022-03-03 05:47] Suvodeep-Das commented on #217
Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: Using a Machine Learning approach to predict Bitcoin Price.
GSSoC'22 Participant.

I would like to work on this issue.

[2022-03-03 05:54] theshredbox opened #227 "Titanic Survival Prediction"
Build a predictive model that answers the question: “What sorts of people were more likely to survive?” Using passenger data (ie name, age, gender, socio-economic class, etc).

I am a GSWOC'22 contributor. Kindly assign the issue @Niketkumardheeryan

[2022-03-03 05:58] Suvodeep-Das opened #228 "Titanic Survival prediction using Machine Learning"
Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: Using different Machine Learning algorithms to find out whether a person on the Titanic survived or not.
GSSoC'22 Participant.

I would like to work on this issue.

[2022-03-03 07:30] AsswinCR commented on #207
Hey! I'm interested to contribute in this project as a part of GSSOC'22

[2022-03-03 09:46] Diishasing commented on #225
Hi @Niketkumardheeryan,
I am a contributor in the GSSOC'22, it's a good first issue for me as I can make detailed material on this topic.
Please assign it to me.

[2022-03-03 10:14] AdityaTheDev opened #233 "I have already added few things, Please look into it. And I'm sorry for adding without issues. I'm a gssoc22 contributor"

[2022-03-03 10:15] AdityaTheDev opened #234 "I'll contribute CNN models. I'm a gssoc22 contributor."

[2022-03-03 10:18] AdityaTheDev opened #235 "I'll add Diabetes prediction using various ML algorithms."
I'm a Gssoc22 contributor

[2022-03-03 12:11] Niketkumardheeryan commented on #235
these types of models are already there...

[2022-03-03 12:11] #235 closed

[2022-03-03 12:11] Niketkumardheeryan commented on #234
these types of models are already there...

[2022-03-03 12:11] #234 closed

[2022-03-03 12:12] #233 closed

[2022-03-03 12:12] Niketkumardheeryan commented on #228
these types of models are already there...

[2022-03-03 12:12] #228 closed

[2022-03-03 12:12] Niketkumardheeryan commented on #227
these types of models are already there...

[2022-03-03 12:12] #227 closed

[2022-03-03 12:12] Niketkumardheeryan commented on #226
these types of models are already there...

[2022-03-03 12:12] #226 closed

[2022-03-03 12:13] Niketkumardheeryan commented on #225
@Binal02Singh start working on it

[2022-03-03 12:14] Niketkumardheeryan commented on #224
@Mennatallah9 start working on it

[2022-03-03 12:24] Suvodeep-Das opened #237 "Fake News Detector"
Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: Making use of Machine Learning algorithms to detect fake news based on the content and title of news articles.
GSSoC'22 Participant.

I would like to work on this issue.

[2022-03-03 12:36] Niketkumardheeryan opened #238 "No copy Paste Codes allowed"
Don't copy-paste code

[2022-03-03 13:01] Binal02Singh commented on #225
@Niketkumardheeryan  Thank you for assigning me this issue.

[2022-03-03 13:07] Rutikab12 commented on #207
Try to create a UI for the prediction. For example, the user should be able to enter any ticker symbol and get predictions. Streamlit library can also be used.

[2022-03-03 13:11] pratishthaa commented on #217
@tandrimasingha Elaborate exactly what you want to work on!

[2022-03-03 13:17] pratishthaa commented on #203
@SayanSaha01 If you want, you can work on this with @Snossy123

[2022-03-03 13:18] pratishthaa commented on #205
@aritra1804 Please provide a brief summary first

[2022-03-03 13:20] pratishthaa commented on #218
@durbar2003 please provide a brief summary of what you want to work on!

[2022-03-03 13:23] pratishthaa commented on #221
@Binal02Singh Have you worked on a Music recommendation system or a Movie recommendation system?

[2022-03-03 13:45] durbar2003 commented on #218
ML Algorithm for Reading, Resizing, Convolution and other such Image processing operations using Python, numpy, openCV and other libraries

[2022-03-03 13:53] aritra1804 commented on #205
hey, @pratishthaa my idea is to extract and read the name and details given on medicines and pill containers. It is an OCR project basically. I would be using PaddleOCR for it

[2022-03-03 14:13] tandrimasingha commented on #217
Use 3 ML algorithm to predict the price of bitcoin using Linear regression,  SVM  and Random forest and check which performs the best among them.  Perform EDA along with it .

[2022-03-03 14:33] #215 closed

[2022-03-03 14:34] #216 closed

[2022-03-03 14:35] pratishthaa commented on #217
And how do you plan to show it's working? If you can develop an app or website?
Otherwise, this is a basic project.

[2022-03-03 14:38] tandrimasingha commented on #217
I will develop a webapp and deploy it on streamlit share

[2022-03-03 16:44] monurao123456 commented on #221
@Niketkumardheeryan
sir can you please assign it to me

[2022-03-04 01:50] AdityaTheDev opened #239 "Will create a Brain Tumor Segmentation project using transfer learning"
I'm a gssoc22 contributor

[2022-03-04 04:53] Saikirannaidu225 commented on #219
can I work in this issue. Stock prices analysis  can be solved using  time series forecasting. I will do this project using  different algorithms like Arima, Moving average, Auto regression,ARMA etc.
I have a good experience working with time series algorithms .Please assign me this issue.

[2022-03-04 04:55] Binal02Singh commented on #221
@pratishthaa I have worked on a movie recommender system, But I can make a music recommender too.

[2022-03-04 04:57] Binal02Singh commented on #207
@Rutikab12  Thank you for assigning me the issue.

I will surely use Streamlit and make a nice UI for the user.

[2022-03-04 04:59] Binal02Singh commented on #221
@pratishthaa Should I start working on the same???

[2022-03-04 05:01] Rutikab12 commented on #210
@Snossy123 assigned.

[2022-03-04 10:42] HarshKumarChoudary commented on #210
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:42] HarshKumarChoudary commented on #222
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:55] pratishthaa commented on #221
@Binal02Singh Make PR on Movie recommendation System

[2022-03-04 10:55] pratishthaa commented on #221
@PurvajaDurga you can work on Music Recommendation System

[2022-03-04 12:17] Niketkumardheeryan opened #244 "A simple Python Package & Deploy On Pypi Repo..."
You have to create a simple python package and deploy it on the Pypi repo....

[2022-03-04 12:20] Niketkumardheeryan opened #245 "Basics of R Language..."

[2022-03-04 12:22] Niketkumardheeryan commented on #201
@Krishna841 make it more dynamic and explore others' readme.md  files and do it fast otherwise, we will assign it to anyone else

[2022-03-04 12:23] Niketkumardheeryan commented on #201
@Krishna841 you have 1 more day

[2022-03-04 12:30] shivam-s16 commented on #245
@Niketkumardheeryan Sir I am interested in this under GSSoC 22 please assign this to me .

[2022-03-04 12:32] shivam-s16 commented on #244
Could you tell me about on which domain you want us to deploy library I have already deployed one library on Pypi name as Algopylib . Could you able to assign this to me under GSSoC 22.

[2022-03-04 12:36] pawansharma197 commented on #206
Hello Sir . I have completed this project so please assign this issue to me . Can I make a pull request

[2022-03-04 12:36] pawansharma197 commented on #204
Sir I have already completed this project can I make a pull request

[2022-03-04 12:43] theshredbox opened #246 "Measuring Parkinson’s Disease Progression"
We will study the performance of various regressor models on the prediction of progression of the Parkinson’s disease’s total and motor UPDRS metrics.

I want to contribute to this as a GSSoC'22 contributor. Kindly assign @Niketkumardheeryan

[2022-03-04 13:40] Jatin7385 commented on #206
@Niketkumardheeryan I am almost done with it, will be making the pull request by tonight

[2022-03-04 13:53] tandrimasingha commented on #238
Can you please say me what code we have to do here? I would like to work on it.

[2022-03-04 17:46] SoumyoNathTripathy opened #248 "Spam Mail Detection using NLP"

[2022-03-04 17:46] KareemElozeiri commented on #237
hey, I am GSSOC22 participant, I would like to work on this

[2022-03-04 17:48] KareemElozeiri commented on #218
@durbar2003 hey I worked on similar staff before, but I would like more specifications, I am a GSSOC22 participant and I would like to work on this

[2022-03-04 17:49] KareemElozeiri commented on #218
so could you assign me this?

[2022-03-04 17:50] KareemElozeiri commented on #209
hey, I am GSSOC22 participant and I would like to work on this

[2022-03-04 18:26] SoumyoNathTripathy opened #249 "IPL Winning Match Prediction"
The aim is to use this dataset to predict IPL Match wining team which is most likely to win the game in the near future using the features given.

[2022-03-04 18:40] pratishthaa commented on #218
@durbar2003 there are projects here that already uses such techniques. If you have something specifically different, then say!

[2022-03-05 05:01] pratyush2303 opened #250 "Add a new project which will give basic understanding of CNNs ("

[2022-03-05 05:02] #250 closed

[2022-03-05 05:06] pratyush2303 opened #251 "Add a new project which will give a basic understanding of CNNs (Deep Learning) that is a Sudoku Solver"
The project should have all the required libraries and have the correct implementation of Convolutional Neural Networks, Keras and Tensorflow.

[2022-03-05 05:09] pratyush2303 commented on #251
I can make a project on a Sudoku Solver using CNNs. It will show how Deep Learning is much better implementation than other techniques of solving puzzles. I am a GSSoC 2022 participant.

[2022-03-05 05:47] Rutikab12 opened #252 "Amazon Alexa Reviews Analysis"
## Description:
The aim is to perform NLP and categorize the feedback as positive or negative.

## Dataset:
This dataset consists of a nearly 3000 Amazon customer reviews (input text), star ratings, date of review, variant and feedback of various amazon Alexa products like Alexa Echo, Echo dots, Alexa Firesticks etc. for learning how to train Machine for sentiment analysis.

https://www.kaggle.com

[2022-03-05 05:52] Rutikab12 opened #253 "NASA Asteroids Classification"
## Description:
- Find potential hazardous and non-hazardous asteroids.
- Find features responsible for claiming an asteroid to be hazardous.
-  Explore more with your own analysis.

## Dataset:
https://www.kaggle.com/shrutimehta/nasa-asteroids-classification

[2022-03-05 05:55] Rutikab12 opened #254 "Startup Profit Prediction"
## Description:
- predict profit that a startup will make on the basis of their R&D, Administration, Marketing Spend, and State where they are based in the US.

## Dataset:
https://www.kaggle.com/sonalisingh1411/startup50

[2022-03-05 06:06] ayushi424 commented on #254
I would like to contribute on this project by using Ml model that fits best to it's accuracy on the given dataset.
Please assign me under GSSOC 2022.
@Rutikab12

[2022-03-05 06:12] Rutikab12 commented on #254
Assigned @ayushi424

[2022-03-05 06:20] Jatin7385 commented on #202
@Niketkumardheeryan I have made the PR for Fake News Detection. Could you go through it, and let me know if any changes are required?

[2022-03-05 06:24] #208 closed

[2022-03-05 06:29] Rutikab12 opened #256 "Black Friday Sales - Analysis & Prediction"
## Description:
- Analyze and predict the sales on Black Friday with the given dataset.

## Dataset:

https://www.kaggle.com/sdolezel/black-friday?select=train.csv

[2022-03-05 06:32] Rutikab12 opened #257 "Cryotherapy Analysis"
## Dataset:
- Cryotherapy is a treatment where your healthcare provider applies extreme cold to freeze and destroy abnormal tissue. To create this severe cold, your provider will use a substance like liquid nitrogen or argon gas.
- Cryotherapy can be used to treat a variety of skin conditions and some cancers, including prostate and liver cancer. This therapy can treat tissue externally (on the sk

[2022-03-05 06:34] Rutikab12 opened #258 "Fish Weight Prediction"
## Description:
- predict the weight of the any fish

## Dataset:

https://www.kaggle.com/aungpyaeap/fish-market

[2022-03-05 09:43] shivam-s16 commented on #258
Sir I am interested in this work in GSSoC'22.Could you please assign this to me.

[2022-03-05 10:33] KareemElozeiri commented on #253
I am a GSSOC22 participant and I would like to work on this

[2022-03-05 10:34] KareemElozeiri commented on #253
so could I be assigned this?

[2022-03-05 11:42] Rutikab12 commented on #258
@shivam-s16 assigned.

[2022-03-05 11:44] Rutikab12 commented on #253
@KareemElozeiri  assigned.

[2022-03-05 11:47] KareemElozeiri commented on #253
should I create a new sub-folder for the issue or there is already a folder to add to?

[2022-03-05 11:49] Rutikab12 commented on #253
yes you have to create a subfolder and push the changes.

[2022-03-05 11:50] KareemElozeiri commented on #253
Okay nice and what is the deadline?

[2022-03-05 11:51] Rutikab12 commented on #253
There's no deadline but try to finish as early as possible as it will be convenient for you and us also.

[2022-03-05 11:52] KareemElozeiri commented on #253
Okay very nice, thanks for your help

[2022-03-05 12:40] ADITYADAS1999 commented on #256
Hi, i am GGSOC 2022 contributor. Can i work with it?

[2022-03-05 12:52] slothtae commented on #252
hi, I'm Karan a GSSoC'22 contributor, I'm interested in this issue can you please assign it to me.

[2022-03-05 12:54] yashh18 commented on #248
Can i get assigned to this issue?

[2022-03-05 12:56] yashh18 commented on #257
I can do this if you can explain the approach on how to do it

[2022-03-05 16:33] pratyush2303 commented on #256
Hey! I can do this project. You can assign it to me. I am a GSSoC'22 participant.

[2022-03-05 20:08] SoumyoNathTripathy commented on #248
/assign

[2022-03-05 20:26] SoumyoNathTripathy commented on #249
/assign

[2022-03-05 21:51] Diishasing commented on #256
@Rutikab12 Can I work on this issue? I would love to work on this project.

[2022-03-05 23:25] dona-samir commented on #256
Hi, I am GSSoC'22 contributor ,I have worked with ML models before.
I can do the following
1. do data Analysis & preprocessing if need it .
2. check relation between features to drop unnecessary features.
3. Train the model using different algorithms  with hyperparameter Tuning.
4.  Evaluate model performance.

[2022-03-05 23:29] dona-samir commented on #257
Hi, I am GSSoC'22 contributor ,I have worked with ML models before.
I can do the following
1.do data Analysis & preprocessing if need it .
2.check relation between features to drop unnecessary features.
3.Train the model using different algorithms with hyperparameter Tuning.
4.Evaluate model performance.

[2022-03-05 23:38] dona-samir commented on #256
Hi, I am GSSoC'22 contributor ,I have worked with ML models before.
I can do the following

1.do data Analysis & preprocessing if need it .
2.check relation between features to drop unnecessary features.
3.Train the model using linear_model.SGDRegressor algorithms with hyperparameter Tuning.
4.Evaluate model performance.

[2022-03-06 06:07] mo1998 commented on #257
Hi, i am GSSoC'22 contributor and i would like to work on this issue if not assigned yet.
I have been worked on similar projects.

[2022-03-06 06:09] mo1998 commented on #256
Hi, i am GSSoC'22 contributor and i would like to work on this issue if not assigned yet.
I have been worked on similar projects.

[2022-03-06 06:12] mo1998 commented on #254
@Rutikab12
Can i also work on this issue?
I will try different machine learning methodologies to increase accuracy as much as possible.

[2022-03-06 07:01] 0ddoes commented on #252
Hello, I am Izza, a GSSoC Contributor. If the issue is not assigned yet to anyone please consider me next in the queue. Thanks!

[2022-03-06 08:01] shivam-s16 commented on #245
Sir could you guide me things which I can include in this apart from datatype function loop and some statistical terms .

[2022-03-06 10:25] 0ddoes commented on #214
Hello, is this issue still open? Can I be assigned to this issue under GSSoC? Also please elaborate on exactly what needed.

[2022-03-06 10:29] 0ddoes opened #261 "Code from Scratch"
Hello, I will like to open a new Issue under GSSoC. I want to include a folder with all ML Algorithms from scratch. First I want to add on PCA , Kernel PCA with Guassian and Polynomial and also Clustering. Please let me know if I can work on this.

[2022-03-06 10:33] Alaa543 commented on #239
hi, I'm Alaa Ahmed  a GSSoC'22 contributor, I'm interested in this issue can you assign it to me please ?.

[2022-03-06 13:15] AsswinCR opened #263 "Financial Time Series Analysis using traditional Approach to predict Stock Prices"
Objective:  Apply a traditional approach using different models such as Auto Regression, Moving Average, Random walk to do time series analysis on different stock datasets and prediction for the dataset.
Tools used: Python3
datasets: GDP of India/NIFTY auto/gold price/Monthly rainfall of India

I would like to work on this issue @Niketkumardheeryan.

[2022-03-06 14:30] #211 closed

[2022-03-06 14:38] Niketkumardheeryan commented on #261
@0ddoes Hey it's already there...

[2022-03-06 14:39] #261 closed

[2022-03-06 14:43] Niketkumardheeryan commented on #201
@PurvajaDurga @neetra You can both can work on that...

[2022-03-06 14:55] Niketkumardheeryan opened #264 "IMDB Box Office Prediction"

[2022-03-06 14:56] Niketkumardheeryan opened #265 "Sentiment analysis for depression based on social media post"

[2022-03-06 14:57] Niketkumardheeryan opened #266 "Sports match video to text summarization using neural network"
this project idea is basically based on getting a precise summary out of Sports match videos.

[2022-03-06 14:58] Niketkumardheeryan opened #267 "Handwritten equation solver using CNN"

[2022-03-06 14:58] Niketkumardheeryan opened #268 "Facial recognition to detect mood and suggest songs accordingly"

[2022-03-06 14:59] Niketkumardheeryan opened #269 "Business meeting summary generation using NLP"
Extracting information from conversations can be of very good commercial and educational value. This can be done by feature capture of the statistical, linguistic, and sentimental aspects with the dialogue structure of the conversation.

[2022-03-06 15:00] Niketkumardheeryan opened #270 "Music generation using deep learning"

[2022-03-06 15:08] Niketkumardheeryan opened #271 "Chat bot Song Recommender system"

[2022-03-06 17:27] yashh18 commented on #257
/assign

[2022-03-06 17:40] srajan-kiyotaka opened #272 "Improve Basic of Deep Learning .ipynb file with a readme.md file"
I can add all the necessary details related to Keras in the basics of the deep learning directory,
I will also add a ReadMe.md file for the same and add more data in the other two files.
I will add images and other visuals also!

[2022-03-06 17:41] srajan-kiyotaka commented on #272
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-06 17:49] srajan-kiyotaka opened #273 "Fake News Detection with two Different ML Model other then Logistic Regression."
I have used different models in NLP and made models similar to this in past with an accuracy of 95%+,
I will use two different ML models which are effective in these kinds of datasets.

[2022-03-06 17:49] srajan-kiyotaka commented on #273
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-06 17:54] srajan-kiyotaka opened #274 "DNN Model to Predict Heart Disease."
I usually work with DNN models
and had made similar projects in past also.
I will use the Deep Neural Network to Predict Heart Disease.

[2022-03-06 17:54] srajan-kiyotaka commented on #274
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-06 18:03] yashh18 opened #275 "Real Time facial landmark detector"

[2022-03-06 18:06] srajan-kiyotaka opened #276 "DNN Model to Predict Heart Failure."
I usually work with DNN models
and had made similar projects in past also.
I will use the Deep Neural Network to Predict Heart Failure.

[2022-03-06 18:06] srajan-kiyotaka commented on #276
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-06 19:11] tandrimasingha commented on #238
@Niketkumardheeryan Hello Sir, Can you please let me know what should I need to do here and assign this to me

[2022-03-06 19:43] 0ddoes commented on #271
Hello I am Izza, a GSSoC Participator. Can you please assign me this Project?

[2022-03-06 22:11] Snossy123 commented on #266
I want to get this issue please assign it to me

[2022-03-07 04:55] Rutikab12 commented on #256
assigned @ADITYADAS1999

[2022-03-07 04:57] Rutikab12 commented on #252
assigned @slothtae

[2022-03-07 07:10] durbar2003 commented on #220
Hey, I have created a PR for this issue

[2022-03-07 07:40] Saikirannaidu225 commented on #270
I am a Gssoc contributor .  I would like to take up this issue . I will implement this project using GAN . Please assign me this issue

[2022-03-07 07:43] Saikirannaidu225 commented on #269
I am a GSSOC contributor. Please assign me this issue . I will use BERT to summarise the  business metting

[2022-03-07 07:48] Saikirannaidu225 opened #278 "Implementation of Deep learning projects in pytorch"
All the Deep learning projects are implemented in Tensorflow . So the projects have to be implemented in pytorch also

[2022-03-07 08:11] aishanii commented on #268
I would like to work on this issue @Niketkumardheeryan

[2022-03-07 09:02] 0ddoes commented on #265
Hello SIr, I am Izza. If this issue is open please assign it for me as part of GSSoC. Will there be a dataset that I can work on?

[2022-03-07 10:23] dona-samir commented on #264
Good Morning, I'm a GSSOC'22 participant,
May I know details about the project please?

[2022-03-07 10:29] pratishthaa commented on #268
Please mention you are a GSSoC contributor or not.

[2022-03-07 10:31] pratishthaa commented on #265
You can look for the dataset on Kaggle. I am sure you can find it there, still, if you have any issues, leave a comment.

[2022-03-07 10:34] pratishthaa commented on #264
Afternoon @dona-samir , you have to do box office revenue collection prediction, you have to do ML to present the best model. Please make sure to go through with all processes(data preprocessing to modes)

[2022-03-07 10:34] pratishthaa commented on #264
@dona-samir comment if you want to work on this issue.

[2022-03-07 10:37] pratishthaa commented on #273
This is a very basic NLP project.

[2022-03-07 10:38] #273 closed

[2022-03-07 10:39] pratishthaa commented on #274
How do you propose to deploy it?

[2022-03-07 10:41] pratishthaa commented on #278
Are you proposing to use PyTorch for already added projects?

[2022-03-07 10:41] aishanii commented on #268
Yes I am

[2022-03-07 10:44] pratishthaa commented on #276
@srajan-kiyotaka
1. What kind of dataset will you be working with, if it's numerical, it's a basic project
2. you can work on heart disease and heart failure together
3. Have you thought about how you will deploy it?

[2022-03-07 10:44] Saikirannaidu225 commented on #278
Yes

[2022-03-07 11:26] dona-samir commented on #264
I am very interested to contribute in this issue, Would you please provide me with the dataset, and the details required?

[2022-03-07 12:27] srajan-kiyotaka commented on #274
@pratishthaa
See I was thinking of using CNN Models if we use the image dataset,
or a DNN Model if we use the numerical dataset,
For the image dataset, I find a Dataset of  ECG readings.
and for the numerical part dataset are available in Kaggle.

[2022-03-07 12:35] pratishthaa commented on #264
https://www.kaggle.com/c/box-office-revenue-prediction
@dona-samir you can use this dataset

[2022-03-07 12:36] pratishthaa commented on #274
ok it will be great if you can do both

[2022-03-07 12:55] srajan-kiyotaka commented on #274
@pratishthaa
should I create a separate issue for the CNN Model part?

[2022-03-07 13:01] srajan-kiyotaka commented on #276
@pratishthaa
for the Heart Disease part, I had already communicated with you.
For Heart failure,
I can make a CNN model Predict using an x-ray scan of the chest(dataset),
also, I can make a DNN Model for the numeric dataset.
I am finding the X-ray dataset as of now!

[2022-03-07 13:16] srajan-kiyotaka commented on #276
@pratishthaa
Can I talk to you
Like I have some ideas and issues!

[2022-03-07 13:40] pratishthaa commented on #276
Ya sure, you can convey on discord.
As for issues, you can create them here and the mentors can go through them.

[2022-03-07 13:43] #254 closed

[2022-03-07 13:49] pratishthaa opened #281 "Detection of handwritten characters"
Detect handwritten characters and deploy the project via a website or app.

[2022-03-07 13:51] pratishthaa opened #282 "Uber data analysis"
Perform data analysis on this dataset:
https://drive.google.com/file/d/1emopjfEkTt59jJoBH9L9bSdmlDC4AR87/view

or you can present any other valid dataset too

[2022-03-07 13:55] pratishthaa opened #283 "Brainy toy project"
Kid toys have a predefined set of words that they can speak repeatedly. You can use machine learning methods to give the toy some brain.
Tip: Speech Recognition

[2022-03-07 13:57] pratishthaa opened #284 "Online Grocery Recommendation"
Based on the similarity of what people buy, recommend grocery.

[2022-03-07 14:17] mo1998 commented on #282
I am GSSoC'22 contributor and I would like to work on this issue.

[2022-03-07 14:29] pratishthaa commented on #274
No..both will be considered under the same issue

[2022-03-07 15:24] mo1998 commented on #281
@pratishthaa
Thank you.

[2022-03-07 16:00] Niketkumardheeryan commented on #248
it's already there @SoumyoNathTripathy

[2022-03-07 16:00] #248 closed

[2022-03-07 16:01] Niketkumardheeryan commented on #249
already there

[2022-03-07 16:01] #249 closed

[2022-03-07 16:06] Niketkumardheeryan commented on #205
@aritra1804 will assign this issue to others, you have 1 more day ..to make PR

[2022-03-07 16:10] Niketkumardheeryan commented on #238
@tandrimasingha it's only a pinned issue...

[2022-03-07 16:26] aritra1804 commented on #205
Will complete by tomorrow night

[2022-03-07 17:31] srajan-kiyotaka commented on #274
@pratishthaa
ok!

[2022-03-07 21:30] tandrimasingha opened #286 "CS:GO Round Winner Classification"
Predict who wins individual snapshots of rounds. Using 3-4 algorithms to implement the models and compare all the algorithms to find out the best fitting algorithm for the model by checking the accuracy scores.
@Niketkumardheeryan Please assign this issue to me.

[2022-03-07 22:55] Snossy123 commented on #237
I am GSSOC22 participant, I want to work on this

[2022-03-07 22:57] Snossy123 commented on #244
hey, I am GSSOC22 participant, I would like to work on this

[2022-03-07 23:03] Snossy123 commented on #284
I am a participant in GSSo'22
I want to work on this issue please assign it to me
I can solve it with association role technique.

[2022-03-07 23:08] Snossy123 commented on #267
I am a participant in GSSo'22
I want to work on this issue please assign it to me

[2022-03-08 02:28] aritra1804 commented on #205
hey @Niketkumardheeryan @pratishthaa i have completed my model and created a PR, pls check

[2022-03-08 06:22] tandrimasingha commented on #286
@Niketkumardheeryan sir please assign this to me

[2022-03-08 07:57] Niketkumardheeryan commented on #244
@Snossy123 you can also make a pr for different package

[2022-03-08 10:27] prinks-wiz opened #289 "Logistic Regression from scratch [GSSoC '22]"
I would like to build a logistic regressor from scratch and deploy it on a diabetes risk dataset. Additionally I intend to use the Streamlit library to create a UI to deploy the model.
I plan to implement this feature under GSSoC '22
Kindly assign this issue to me.

[2022-03-08 11:36] Rutikab12 commented on #289
Issued @prinks-wiz

[2022-03-08 15:24] pratishthaa opened #290 "Creating your own emoji"
Please make sure to deploy it

[2022-03-08 15:25] pratishthaa opened #291 "Sentiment analysis from Speech"

[2022-03-08 15:26] mo1998 commented on #281
@pratishthaa
I have been finished training the model and saved it.
Now i am working on building a website using flask and html to deploy it.
Is there any deadlines?

[2022-03-08 15:54] pratishthaa opened #292 "Lung Cancer Detection"
Lung Cancer Detection by doing lung segmentation

[2022-03-08 16:47] Rutikab12 opened #293 "German traffic sign recognition benchmark Model"
## Dataset

- https://benchmark.ini.rub.de/?section=gtsrb&subsection=dataset

[2022-03-08 16:55] Rutikab12 opened #294 "Number of People Counter Project"
## Description:

- You have to do is detect whether the frame contains a human being or not and then increase the counter for each unique human being the system detects.
- For this project, you should explore libraries like NumPy, OpenCV, dlib, and imutils.

[2022-03-08 16:57] Rutikab12 opened #295 "Long Short Term Memory Algorithm from Scratch"

[2022-03-08 17:04] Rutikab12 opened #296 "GDP Prediction Model"
## Dataset:

- [Dataset](https://www.kaggle.com/rutikbhoyar/gdp-prediction-dataset)

[2022-03-08 17:08] Rutikab12 opened #297 "Market Basket Optimization"
## Dataset:

- https://www.kaggle.com/roshansharma/market-basket-optimization

[2022-03-08 17:47] pratishthaa commented on #281
5 days is the deadline from when you got assigned

[2022-03-08 18:33] slothtae commented on #252
sorry i mistakenly deleted the assignment but i did a PR

[2022-03-08 18:49] mo1998 commented on #281
Thanks for information.

[2022-03-09 09:45] kashish0505kashyap commented on #294
I have good knowledge and experience with python libraries like OpenCV and numpy. I would like to work on this project.

[2022-03-09 09:50] Ad-hue commented on #296
Hello, I would like to work on this issue!

[2022-03-09 10:47] pratishthaa opened #299 "Next word prediction using Neural Networks"

[2022-03-09 10:48] pratishthaa opened #300 "Bidirectional LSTM from beginning"

[2022-03-09 10:49] pratishthaa opened #301 "Google Teachable machine from scratch and methods of deployment"

[2022-03-09 11:19] Ad-hue commented on #299
Hello, I am a gssoc'22 participant and I would like to contribute to this issue.

[2022-03-09 12:06] bh-divyansh commented on #301
Hi, can you please assign this issue to me?

[2022-03-09 12:48] Alaa543 commented on #292
hi,i am GSSoC'22 contributor and I would like to work on this issue.
can you assign me please?

[2022-03-09 13:28] Rutikab12 commented on #294
Assigned @kashish0505kashyap .

[2022-03-09 16:13] Niketkumardheeryan opened #302 "Trending Python libraries With Demo code"

[2022-03-09 16:17] Niketkumardheeryan opened #303 "Data preprocessing Automation (Libraries, any other techniques)"

[2022-03-09 16:18] Niketkumardheeryan opened #304 "Basic features or methods of Auto Keras"

[2022-03-10 03:43] pawansharma197 opened #306 "Association Rule Methods Implementation such as Apriori , ECLAT , FP growth on Grocery Data set"

[2022-03-10 03:44] pawansharma197 commented on #306
Hello Sir myself Pawan Sharma Gssoc 22 Plz assign this issue to me .

[2022-03-10 08:44] tasneem57 commented on #296
can I work on this issue?

[2022-03-10 09:42] binary11110 commented on #209
I'd like to work on Loan Approval Prediction in Python using machine Learning algorithms , i have done a similar project in the past

[2022-03-10 09:54] tasneem57 commented on #297
Hello, I am a gssoc'22 participant and I would like to contribute to this issue.

[2022-03-10 19:50] 0ddoes commented on #295
Sir, I am in GSSoC22 please assign me this Issue. Thanks!

[2022-03-10 20:48] pratishthaa opened #308 "HuggingFace from scratch"

[2022-03-10 20:50] pratishthaa opened #309 "Alzheimer detection and its model deployment"

[2022-03-10 20:51] pratishthaa opened #310 "Drowsiness detection and model deployment"

[2022-03-11 03:16] Ephrimgnanam commented on #201
Sir I can do good read me assign this to me
I can make a cool and nice looking Readme for this project

[2022-03-11 03:31] aka9ksha opened #311 "Credit Card Fraud Detection"
Credit Card Fraud Detection using machine learning.

[2022-03-11 03:37] aka9ksha commented on #311
GSSOC Participant .
I would like to work on this issue.

[2022-03-11 03:39] aka9ksha commented on #308
GSSOC Participant .
I would like to work on this issue.

[2022-03-11 13:05] Rutikab12 commented on #311
Hey, @aka9ksha  can you try to work on a little bit different issue, as it is very common.

[2022-03-11 13:50] Priyanka-Chettri commented on #201
I am Priyanka Chettri GSSoC contributor 2022, please consider me next in the queue

[2022-03-11 17:06] durbar2003 commented on #310
Hey, I would like to work on this project. I plan to deploy a model for drowsiness detection using Deep Learning and Computer Vision, using the Pytorch, OpnCV and other related libraries.

[2022-03-11 21:49] KareemElozeiri commented on #253
along with the analysis, I will make DL model to predict hazardness, is that okay? @Rutikab12

[2022-03-12 03:08] Sabyasachi-Seal opened #317 "Face Mask Detector"
This project is perfect already, a face mask project will get the beginners introduced to OpenCV with Machine Learning.

As the name suggests, this project will detect if a user is wearing a face mask or not !

## Packages Used
- OpenCV
- Sklearn
- Requests
- Numpy

[2022-03-12 03:44] aka9ksha commented on #311
Alright! :)

[2022-03-12 03:44] #311 closed

[2022-03-12 04:45] Rutikab12 commented on #253
sure @KareemElozeiri

[2022-03-12 08:08] binary11110 commented on #292
i would like to work on this issue  please

[2022-03-12 12:37] Rutikab12 opened #319 "Instagram Algorithm"
## Dataset:

https://raw.githubusercontent.com/amankharwal/Website-data/master/instagram_reach.csv

## Description:

Instagram algorithm with Machine Learning using Python to understand how your posts can get more reach on Instagram.

[2022-03-12 12:39] Rutikab12 opened #320 "LightBGM classifier"

[2022-03-12 12:42] Rutikab12 opened #321 "Tinder Matches with Machine Learning"

[2022-03-12 12:43] HarshKumarChoudary commented on #222
Could you please give some ideas on what kind of information or words should be used to filter tweets.

[2022-03-12 12:44] HarshKumarChoudary commented on #319
what do we have to do in this issue.

[2022-03-12 12:48] #320 closed

[2022-03-12 12:48] Rutikab12 commented on #319
You have to predict the reach of Instagram posts based on factors like what is the post about? what type of audience is going to like the post? etc.

[2022-03-12 12:54] #219 closed

[2022-03-12 12:58] HarshKumarChoudary commented on #319
Oh sounds interesting. Could you assign this to me. I'm a GSSOC 22 contributor.

[2022-03-12 13:01] pratishthaa commented on #222
You can look for twitter dataset with classified groups.
I once did come across a classifiication data which had 6 categories to classify tweets. Look for similar data.

[2022-03-12 13:15] Niketkumardheeryan commented on #317
@Sabyasachi-Seal can you deploy it on any cloud

[2022-03-12 13:15] Niketkumardheeryan opened #322 "Free clouds for hosting Machine learning models"

[2022-03-12 13:17] Niketkumardheeryan commented on #201
@Ephrimgnanam go for it....

[2022-03-12 13:18] Niketkumardheeryan commented on #201
ok

[2022-03-12 13:49] Sabyasachi-Seal commented on #317
@Niketkumardheeryan Will try to deploy it on cloud and then confirm. I will update you soon. 😊

[2022-03-12 13:57] Pushpita05 commented on #322
Hey I would like to work on this, could you assign me for gssoc 22

[2022-03-12 13:58] Niketkumardheeryan commented on #317
ok

[2022-03-12 14:00] aritra1804 commented on #205
Hey @Niketkumardheeryan can i close this issue,since it is merged

[2022-03-12 14:00] Pushpita05 commented on #322
Hey can you explain in detail, what should I do

[2022-03-12 14:05] Niketkumardheeryan commented on #322
Add doc file or create a readme.md file and listed the different clouds with a brief explanation

[2022-03-12 14:05] Girlwithasmile commented on #321
I am a gssoc contributer n would like to work on this.

[2022-03-12 14:16] aritra1804 commented on #205
Thanks

[2022-03-12 14:16] #205 closed

[2022-03-12 15:14] KareemElozeiri commented on #253
Great, I have created a pull request for the analysis and later today I will add the neural net. @Rutikab12

[2022-03-12 16:17] Pushpita05 commented on #322
Great thanks

[2022-03-12 16:17] Pushpita05 commented on #322
What is the deadline? @Niketkumardheeryan

[2022-03-12 16:38] Rutikab12 commented on #253
Sure @KareemElozeiri

[2022-03-12 21:26] durbar2003 commented on #310
Made a PR for the issue @pratishthaa

[2022-03-13 01:56] pratishthaa opened #325 "Analyze Glassdoor data"
https://www.kaggle.com/nilimajauhari/glassdoor-analyze-gender-pay-gap

[2022-03-13 02:00] pratishthaa opened #326 "Detecting semantic orientations in economic texts"
You can use this dataset:
https://www.kaggle.com/sbhatti/financial-sentiment-analysis

[2022-03-13 02:06] pratishthaa opened #327 "Insect classifier & model deployment"
https://www.kaggle.com/rtlmhjbn/ip02-dataset

[2022-03-13 06:59] UrviSinghal28 commented on #325
Hey can you please assign this to me

[2022-03-13 08:39] shivam-s16 commented on #327
I am interested in this work in GSSoC'22.Could you please assign this to me.

[2022-03-13 08:42] shivam-s16 commented on #309
I am interested in this work in GSSoC'22.Could you please assign this to me.

[2022-03-13 18:12] Manukumar9319 commented on #282
I would like to contribute to this project. Please assign this to me.

[2022-03-13 18:44] pratishthaa commented on #282
@mo1998 you have already taken more than 6 days on this issue. You are being unassigned.

[2022-03-14 00:57] Sabyasachi-Seal commented on #317
@Niketkumardheeryan Hello, I checked and the thing will work on the cloud.

[2022-03-14 08:06] Pushpita05 commented on #322
@Niketkumardheeryan  I have created a PR. Pls check

[2022-03-14 13:41] Niketkumardheeryan commented on #201
@Ephrimgnanam working on it,or should I reassign it others

[2022-03-14 13:44] Niketkumardheeryan opened #331 "Personality Prediction Project"
Imagine how interesting it would be to read the posts written by people online and be able to understand their overall personality?
The axis ranges from Introversion (I) to Extroversion (E), Intuition (N) to Sensing (S), Thinking (T) to Feeling (F), and Judging (J) to Perceiving (P).

[2022-03-14 13:47] Niketkumardheeryan opened #332 "Web Pattern Navigation Profiling for Online Marketing Campaigns"
In today’s digital era, it is merely impossible for a majority of the population to perform their day-to-day activities without using the internet. This internet usage has opened up a lot of possibilities in product promotion and also in offering services. But with billions of people surfing the internet, it is important to target the right customer for your product promotions or to provide a solu

[2022-03-14 13:48] Ephrimgnanam commented on #201
Sir I'll make it tomorrow half of the work is done

[2022-03-14 13:52] Niketkumardheeryan opened #333 "improve Cheat sheet Folder ..."
add your content in this folder - https://github.com/Niketkumardheeryan/ML-CaPsule/tree/master/Cheat%20Sheets

Improve the cheat sheet of ML / DL and python
Add SQL cheat sheets, Power bi, and many more related to data science...

[2022-03-14 20:21] Diishasing commented on #331
HI @Niketkumardheeryan
Please let me work on this feature. I am a GSSOC'22 participant. I can really learn a lot from this work.

[2022-03-14 20:23] Diishasing commented on #290
Hi @pratishthaa
Please let me work on this feature. I am a GSSOC'22 participant. I can really learn a lot from this work.

[2022-03-15 18:04] pratishthaa opened #336 "ASL Alphabet Detection and deploy model"
You can refer this dataset:

https://www.kaggle.com/grassknoted/asl-alphabet

[2022-03-15 18:07] pratishthaa opened #337 "Job advertisements detection"
Refer to this dataset:

https://www.kaggle.com/shivamb/real-or-fake-fake-jobposting-prediction

[2022-03-15 18:10] pratishthaa opened #338 "Crater Detection"
Refer to this dataset:

https://www.kaggle.com/lincolnzh/martianlunar-crater-detection-dataset

[2022-03-16 04:09] prinks-wiz commented on #289
Hi. I've written the logistic regression model and it runs. However I'm having difficulty writing the Web UI using Streamlit. Could anyone point me to any learning resources for that

[2022-03-16 05:32] Rutikab12 commented on #289
You can read their documentation or [use this link](https://www.youtube.com/watch?v=UN4DaSAZel4&list=PLuU3eVwK0I9PT48ZBYAHdKPFazhXg76h5)

[2022-03-16 05:48] prinks-wiz commented on #289
Thank you !

[2022-03-16 09:38] paritoshtripathi935 commented on #337
Can you assign this issue to me, i am a GSSoc2022 contributor

[2022-03-16 13:09] Sabyasachi-Seal commented on #317
@Niketkumardheeryan could you please assign this issue  me :)

[2022-03-16 13:14] Rutikab12 commented on #331
YOU can work on this issue now @Diishasing . You have 5 days to make a PR.

[2022-03-16 13:17] Rutikab12 commented on #297
Hey @tasneem57 , what the update on your model.

[2022-03-16 13:17] Rutikab12 commented on #296
@Ad-hue any updates regarding your model. Do you need more time?

[2022-03-16 13:19] Rutikab12 commented on #299
@Ad-hue any update on this model too?

[2022-03-16 13:21] Rutikab12 commented on #292
@Alaa543 any updates regarding model?

[2022-03-16 13:48] Ad-hue commented on #296
Hello @Rutikab12 , I am currently working on this issue. I am an intermediate at this so I want to make sure everything in my project is correct and for that I do need more time since I am making it from scratch. I however would like to know your deadlines for this project.

[2022-03-16 16:17] Rutikab12 commented on #296
okay. How much more time do you need?.

[2022-03-16 17:09] pratishthaa opened #340 "Sarcasm Detection"
https://www.kaggle.com/rmisra/news-headlines-dataset-for-sarcasm-detection

[2022-03-16 17:11] pratishthaa opened #341 "Role from Resume Detector"
https://www.kaggle.com/snehaanbhawal/resume-dataset

[2022-03-16 17:15] pratishthaa opened #342 "Detect car damage and model deployment"
https://www.kaggle.com/lplenka/coco-car-damage-detection-dataset?select=val

Since this dataset has only the damaged car dataset, please make sure to collect normal or undamaged car parts images from different sources

[2022-03-16 17:18] pratishthaa commented on #308
@aka9ksha Please update us soon since the deadline for every issue is strictly 6 days.

[2022-03-16 17:19] pratishthaa commented on #317
Make sure to add a demo

[2022-03-16 17:27] pratishthaa commented on #296
@Ad-hue The deadline for every issue is 6 days. If you are facing any issues and can't submit on time, you should come forward to let us know about that yourself instead of us asking specifically.

Also, if only you comment on an issue then unless someone else comments, the issue is yours for some time even after the deadline. but when someone else comments too, they too have an interest and we ca

[2022-03-16 17:27] pratishthaa commented on #295
@0ddoes Updates?

[2022-03-16 18:46] 0ddoes commented on #295
Sorry I will need some more time .. I will update by weekend

[2022-03-16 19:12] shivam-s16 commented on #333
Please let me work on this . I am a GSSOC'22 participant.

[2022-03-16 20:50] Alaa543 commented on #292
i am still working on it can you tell me how much time you will give me on it

[2022-03-16 20:50] Alaa543 commented on #292
i am still working on it can you tell me how much time you will give me on it

[2022-03-17 01:52] Ad-hue commented on #296
I understand. Since it would take me around 2 weeks to complete this, kindly reassign the issue. Thanks!

[2022-03-17 04:37] Rutikab12 commented on #292
It's already above 5 days. So please make a PR after 3 days otherwise I will have to reassign this issue to someone.

[2022-03-17 08:14] Niketkumardheeryan commented on #333
@shivam-s16 go for it...

[2022-03-17 08:16] shivam-s16 commented on #333
Okay sir please check out my old PR also.

[2022-03-17 08:18] Sabyasachi-Seal commented on #317
Ok sure, thanks a lot, I'm a contributor from GSSoC '22. Thanks for the opportunity.

[2022-03-17 11:24] shivam-s16 commented on #333
@Niketkumardheeryan Sir the files which are present there are like resources so I have to add resources or actual cheat sheet pdf.

[2022-03-17 11:32] shivam-s16 commented on #299
@pratishthaa Hello, I am a gssoc'22 participant and I would like to contribute on this.

[2022-03-17 12:01] Rutikab12 commented on #299
Assigned @shivam-s16 . You have 5 days to make a PR.

[2022-03-17 16:07] pawansharma197 commented on #306
Hi Pratishthaa  sorry for the late reply but I am busy with my semster exam in this week . I have completed Apriori Module  and rest I am going to complete after the exam . Hope You understand .

[2022-03-17 18:41] pratishthaa opened #347 "Language detection and model deployment"
https://www.kaggle.com/basilb2s/language-detection

[2022-03-17 18:43] pratishthaa opened #348 "website Classification"
https://www.kaggle.com/hetulmehta/website-classification

[2022-03-17 18:46] pratishthaa opened #349 "Traffic Light detection and deploy model"
https://www.kaggle.com/wjybuqi/traffic-light-detection-dataset

[2022-03-18 00:53] KareemElozeiri commented on #348
hello there, I am a GSSoC22 participant and I would like to work on that

[2022-03-18 10:55] theshredbox commented on #246
Hey. I'll be pushing the code in a day or two. Was a little occupied with my university examinations.

[2022-03-18 16:18] aka9ksha commented on #308
Sorry I won't be able to contribute :(

[2022-03-19 07:19] Pushpita05 commented on #322
@Niketkumardheeryan pls check. It has been 5days

[2022-03-19 14:45] 0ddoes commented on #295
Hello, its too hard to implement from scratch for me. Can you please reassign me?

[2022-03-19 14:47] 0ddoes commented on #296
Hello, I am a GSSoC22 participant. Please asssign me this

[2022-03-19 16:02] Rutikab12 commented on #295
Okay. Try to search for resources and implement them one by one.

[2022-03-20 15:43] RusJaI commented on #347
I would like to work on this issue for GSSOC

[2022-03-20 16:31] Niketkumardheeryan commented on #347
@RusJaI go for it...

[2022-03-20 17:03] Niketkumardheeryan opened #351 "Google Search Analysis With Python"

[2022-03-20 17:06] Niketkumardheeryan opened #352 "Barbie With Brains Using Deep Learning Algorithms"
Talking dolls that regurgitate pre-recorded phrases are nothing new—but what if dolls could actually listen and respond to kids? Enter [Hello Barbie](http://hellobarbiefaq.mattel.com/wp-content/uploads/2015/12/hellobarbie-faq-v3.pdf).

To create Hello Barbie, Mattel used natural language processing and advanced audio analytics that enabled the doll to interact logically in conversation. With the p

[2022-03-20 17:08] Niketkumardheeryan opened #353 "YouTube Comment Analysis"

[2022-03-20 18:24] pratishthaa opened #354 "Language Detection from Audio and model deployment"
https://www.kaggle.com/datasets/hbchaitanyabharadwaj/audio-dataset-with-10-indian-languages

[2022-03-20 18:25] pratishthaa opened #355 "Bird Species Claassificatin & model deployment"
https://www.kaggle.com/datasets/gpiosenka/100-bird-species

[2022-03-21 13:23] Rutikab12 commented on #276
@srajan-kiyotaka What's the update on your model?

[2022-03-21 13:24] Rutikab12 commented on #278
@Saikirannaidu225 What's the update on your model?

[2022-03-21 13:27] Rutikab12 commented on #256
@ADITYADAS1999  What's the update on your model?

[2022-03-21 13:29] Rutikab12 commented on #252
Okay

[2022-03-21 13:30] Rutikab12 commented on #252
Have you added the readme file, as suggested by mentors and admin?

[2022-03-21 14:32] Samhitha1912 commented on #341
Hi! I'm Samhitha , GSSOC'22 contributor. I would like to work on this. Can you assign this to me?

[2022-03-21 15:00] ADITYADAS1999 commented on #256
The code is ready run successfully, after getting some changes in format i make the PR.

[2022-03-21 16:24] KareemElozeiri commented on #348
Hi, I have started working on the issue already, I have explored the data and so on, the remaining part is to encode the website text to feed the data to the neural net that I have built, however I am really busy this week so I won't be able to sit down and finish it, so I was wondering if I could finish the issue by the start of next week and I will try as much as I can that I make it before that

[2022-03-21 18:28] pratishthaa opened #358 "Detector"

[2022-03-21 19:48] paritoshtripathi935 commented on #358
@pratishthaa please assign this issue to me I have submitted a previous issue, I am a GSSOC22 contributor.

[2022-03-21 19:54] srajan-kiyotaka commented on #276
@Rutikab12
I am working on the model architecture.
I will create the pull request within this week.

[2022-03-22 04:46] Rutikab12 commented on #276
Okay

[2022-03-22 05:24] mohanadtalat91 opened #361 "Add Word cloud @GSSOC'22"
### Adding Word Cloud Project.

**Description**

Word Cloud or Tag Clouds is a visualization technique for texts that are natively used for visualizing the tags or keywords from the websites. These keywords typically are single words that depict the context of the webpage the word cloud is being made from. These words are clustered together to form a Word Cloud.

Each word in this cloud has a vari

[2022-03-22 05:27] mohanadtalat91 opened #362 "Add Speed test @GSSOC'22"
Upload a simple script to show some information about All server around my connected network, It can also determine best server.

It has some function such as { Download Speed, Upload Speed, Ping }.

[2022-03-22 09:23] 0ddoes commented on #265
Hello, I made a pull request with the right file now. Please check again.

[2022-03-22 13:08] #294 closed

[2022-03-22 15:00] Niketkumardheeryan commented on #201
@Ephrimgnanam still working...

[2022-03-22 15:06] Ephrimgnanam commented on #201
Sir about 50 percent work is done

[2022-03-22 18:22] #337 closed

[2022-03-22 18:24] pratishthaa opened #364 "GitHub Bugs Prediction"
https://www.kaggle.com/datasets/anmolkumar/github-bugs-prediction

[2022-03-23 05:00] Rutikab12 commented on #361
@mohanadtalat91 assigned. You have made a PR , right?

[2022-03-23 14:09] pratishthaa opened #365 "Spelling corrector and deploy model"
https://www.kaggle.com/datasets/bittlingmayer/spelling

[2022-03-24 10:18] Samhitha1912 commented on #341
Is there any particular limit for accuracy obtained above which only PR will be merged?

[2022-03-25 07:34] shreya024 commented on #355
Hi, I am Shreya, a GSSOC'22 contributor,I would like to work on this issue.

[2022-03-25 12:56] umangtank opened #367 "Adding new end-to-end Machine learning project with deployment."
## **Project name** : News Article Sorting
#### This is a NLP based ML web application which is used to classify the News Articles.
* Nowadays there are many sources to generate news which are in huge amount of data, so this app will help the user to sort the news according to users choice.

[2022-03-25 17:19] Niketkumardheeryan opened #371 "Basic Demo of TensorFlow Lite"

[2022-03-25 17:19] Niketkumardheeryan opened #372 "Basics of TensorFlow.js"

[2022-03-25 17:28] pratishthaa opened #373 "Mental Health in Tech Classification"
https://www.kaggle.com/datasets/osmi/mental-health-in-tech-survey

[2022-03-26 04:55] Rasikamurali commented on #373
Hey, I would like to work on this

[2022-03-26 05:25] Shweta2024 opened #374 "House Price Prediction"
Hello! I'm a GSSoC'22 contributor. I would like to contribute to this repository by making a project for Predicting the House Prices using Linear Regression. Please assign me this issue.

[2022-03-26 06:27] Rutikab12 commented on #374
hey @Shweta2024 Please choose other open issues.

[2022-03-26 06:27] #374 closed

[2022-03-26 06:27] Rutikab12 commented on #373
@Rasikamurali Go for it.

[2022-03-26 13:06] pratishthaa opened #376 "Classify tweets"
https://www.kaggle.com/datasets/nikhiljohnk/tweets-with-sarcasm-and-irony

[2022-03-26 14:46] shreya024 commented on #355
Hey @pratishthaa , I have created the model https://www.kaggle.com/code/shreyaghosh24/ml-capsule-bird.Kindly review and guide me through the next steps like which directory to add this to and how to deploy using streamlit.Thank you.

[2022-03-27 02:35] pratishthaa commented on #355
Leave comments in your code and for deployment, there are many youtube videos on that, and when you are done , make a PR with Readme and demo video of model

[2022-03-27 12:28] UDAYAGIRICHARAN opened #378 "Improving sentiment analysis"
improving sentiment analysis by making a website with streamlit and flask
GSSOC 2022

[2022-03-27 12:30] UDAYAGIRICHARAN commented on #353
@udayagiricharan please assign this to me.

[2022-03-27 15:47] Rutikab12 commented on #378
Go for it @UDAYAGIRICHARAN

[2022-03-28 03:52] learner2102 commented on #371
Assign me this work @Niketkumardheeryan

[2022-03-28 12:05] Rutikab12 commented on #371
You can work on it now @learner2102

[2022-03-29 06:40] pawansharma197 commented on #306
Hello Pratishthaa , I have implemented Association Rule notebook So can make a pull request

[2022-03-29 15:45] Niketkumardheeryan commented on #333
both

[2022-03-29 15:46] #338 closed

[2022-03-29 16:09] Rutikab12 commented on #290
@Diishasing what's the update on this issue also?

[2022-03-29 20:08] Shweta2024 commented on #376
Hello! I am a GSSoC'22 Contributor. I would like to contribute to this task using Logistic Regression. Please assign this task to me.
Thank you!

[2022-03-29 20:09] Shweta2024 commented on #376
Hello! I am a GSSoC'22 Contributor. I would like to contribute to this task using Logistic Regression. Please assign this task to me.
Thank you!

[2022-03-29 20:21] Shweta2024 opened #382 "Breast Cancer Prediction"
Hello! I'm a GSSoC'22 Contributor. I would like to do EDA followed by using Logistic Regression for predicting Breast Cancer. Please assign me this task.
Thank you!

[2022-03-30 06:42] mgncodes commented on #376
Hi, I would like to contribute to this task as part of GSSoC'22. Kindly assign me this issue. Thanks!

[2022-03-30 06:44] mgncodes commented on #364
Hi, I would like to contribute to this issue as a part of GSSoC'22. Kindly assign it to me. Thanks!

[2022-03-30 07:17] comrade-buck opened #383 "Simulating Self Driving Cars"
Hi,

I want to contribute to the ML capsule through a project I have been working on that revolves around cars to detect lanes to travel and other existing traffic regulations by using Deep Learning and Computer Vision respectively. I am truly excited to bring about this new project to your existing set of ML marvels.

Regards,
Aditi Chauhan

[2022-03-30 10:44] mohanadtalat91 commented on #361
Yup, but I'll add README file for this specific project at the same pr as much as possible.

[2022-03-30 15:51] Rutikab12 commented on #361
do it as early as possible

[2022-03-30 23:39] shreya024 commented on #365
@pratishthaa I would like to work on this issue.Kindly assign

[2022-03-31 05:20] srajan-kiyotaka opened #386 "Plant Disease Prediction"
I will make use of images of leaves to predict the disease,
I will use the CNN Model to do the prediction.

[2022-03-31 05:20] srajan-kiyotaka commented on #386
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 05:51] srajan-kiyotaka opened #387 "Skin Disease Predictor Using Deep Learning"
I will use the Image Dataset of skin Disease to train the CNN Model.

[2022-03-31 05:52] srajan-kiyotaka commented on #387
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 05:55] srajan-kiyotaka opened #389 "Cotton Disease Prediction Using Deep Neural Network"
I will train the CNN Model on the image dataset of different
Cotton Disease.

[2022-03-31 05:55] srajan-kiyotaka commented on #389
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 05:59] srajan-kiyotaka opened #390 "Predicting Eyes Disease using Deep Neural Network"
Using the image dataset of different eye disease
to train the CNN model to predict the disease.

[2022-03-31 05:59] srajan-kiyotaka commented on #390
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 06:08] srajan-kiyotaka opened #391 "DNN Model to Predict Lung Cancer"
I will Build the DNN Model to Predict the possibility of lung cancer
using the scanned images.

[2022-03-31 06:24] srajan-kiyotaka opened #392 "DNN Model to predict Corn/Maize Disease"
I will train the CNN Model on the image dataset
of the leaves to predict the disease.

[2022-03-31 06:24] srajan-kiyotaka commented on #392
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 06:25] srajan-kiyotaka commented on #391
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 06:29] srajan-kiyotaka opened #393 "DNN Model to Predict Strawberry Disease"
I used the image dataset to train the
DNN Model to predict the disease.

[2022-03-31 06:29] srajan-kiyotaka commented on #393
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 06:39] srajan-kiyotaka opened #394 "Rice Disease Prediction using Deep Neural Network"
I will use the Rice Leaves image dataset to
train the CNN Model to predict the disease.

[2022-03-31 06:40] srajan-kiyotaka commented on #394
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 07:10] srajan-kiyotaka opened #395 "CrowdAI Plant Disease Prediction Using Deep Neural Network"
I will use the image dataset to train the CNN Model,
To predict the CrowdAI Plant Disease.

[2022-03-31 07:10] srajan-kiyotaka commented on #395
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 07:15] srajan-kiyotaka opened #396 "Alzheimers Disease Prediction using Deep Neural Network"
I will use the CG Scan of the brain image dataset to
train the CNN Model to predict the Alzheimers Disease.

[2022-03-31 07:15] srajan-kiyotaka commented on #396
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-31 08:09] prinks-wiz commented on #289
The model and the Web app is ready. But I am having trouble submitting a pull request.

[2022-03-31 13:45] #258 closed

[2022-03-31 14:08] paritoshtripathi935 commented on #358
@pratishthaa I think I might take time to complete this. please assign "up for Grab" again.

[2022-03-31 16:42] #245 closed

[2022-03-31 16:46] Rutikab12 commented on #386
@srajan-kiyotaka Look for another open issue. Thanks

[2022-03-31 16:46] #386 closed

[2022-03-31 16:48] Rutikab12 commented on #394
@srajan-kiyotaka Please complete the issues I have assigned you then I will assign you more.

[2022-03-31 16:48] #391 closed

[2022-03-31 16:49] Rutikab12 commented on #383
go for it @comrade-buck

[2022-03-31 16:49] #389 closed

[2022-03-31 16:51] Rutikab12 commented on #382
@Shweta2024 please have a look at other open issues.

[2022-03-31 16:51] #382 closed

[2022-03-31 16:53] #393 closed

[2022-03-31 17:51] mohanadtalat91 opened #398 "Get centroid of digits"
I'll add an script to get centroid of every digits in MNIST dataset after divide it into 4 grids then use KNN algorithm to classify x & y points.

[2022-03-31 20:54] SoumyoNathTripathy commented on #286
Hi I want to do this and I can do this very efficiently, please assign me this repository!

[2022-03-31 21:08] SoumyoNathTripathy commented on #282
Hello there, I want to continue with this project. Kindly assign me this repo!
Thankyou...

[2022-03-31 21:10] SoumyoNathTripathy commented on #264
I am very interested to contribute in this issue, please assign this repo so that  I can start working ASAP

[2022-04-01 04:49] paritoshtripathi935 commented on #291
@pratishthaa assign this issue to me, i am a Gssoc Contributor

[2022-04-01 05:52] Rutikab12 commented on #398
go for it @mohanadtalat91

[2022-04-01 08:24] UrviSinghal28 commented on #351
Please assign this to me

[2022-04-01 08:25] UrviSinghal28 commented on #336
Can you please assign this to me

[2022-04-01 13:42] pratyush2303 commented on #251
Hey! @Niketkumardheeryan  @Rutikab12 This PR associated with this issue has already been merged but the issue is not closed by you and this also doesn't show up on the Leaderboard. Can you update the changes for this repo as well as for the leaderboard. Thanks.

[2022-04-02 12:46] Niketkumardheeryan opened #402 "Integrate a ML/ DL model with Android app"

[2022-04-02 14:25] omkar806 opened #403 "To remove Keyframes and Perform Object Detection on Keyframes"
Description : So in this project made by me I will remove keyframes from any video and then also I will save each keyframe with its time stamp in a particualr folder and then also I will be performing object detection using the YOLO V3 model for each key frame that I have extracted from the video

[2022-04-02 14:25] omkar806 commented on #403
please assign this issue to me

[2022-04-02 17:09] rohitpadage commented on #282
I'm GSSOC 22 participant, I'm excited to work on this issue.
Plaese Assign the issue.

[2022-04-02 17:24] rohitpadage commented on #252
I'm GSSOC 22 Participant. I'm excited to work on this issue.
Kindly Assign this issue Asap.

[2022-04-02 20:42] SoumyoNathTripathy commented on #282
@pratishthaa kindly assign me this task!

[2022-04-02 20:57] pratishthaa commented on #282
@Manukumar9319 update?

[2022-04-03 02:00] shreya024 commented on #301
Hey @pratishthaa I would like to work on this issue. Is there any specific dataset I need to use for this? @Niketkumardheeryan Kindly assign.

[2022-04-03 03:07] shivam-s16 commented on #258
@Rutikab12 please assign level to this so that I can get point on leaderboard .

[2022-04-03 16:29] Rutikab12 commented on #403
@omkar806 Please write the description in description not in the heading of the Issue. Please refer other issues for the same. and get assigned.

[2022-04-03 16:31] Rutikab12 commented on #390
@srajan-kiyotaka go for it.

[2022-04-03 19:56] SoumyoNathTripathy commented on #282
@pratishthaa kindly assign me this, will finish it quickly.

[2022-04-03 19:57] SoumyoNathTripathy commented on #286
@Niketkumardheeryan please unassign tandrima and assign me this!

[2022-04-03 20:16] pratishthaa commented on #282
@SoumyoNathTripathy please mention the maximum time you need for this?

[2022-04-04 03:10] Shamvv opened #405 "Update REAMDME.md"
Can I edit the description section of README.md to change analysis to analyze in "Machine learning technique to analysis data that automates analytical model building".

[2022-04-04 06:02] shreya024 commented on #387
@Rutikab12 I would like to work on this issue. Kindly assign

[2022-04-04 08:35] Rutikab12 commented on #387
@shreya024 go for it.

[2022-04-04 10:34] paritoshtripathi935 commented on #332
@Niketkumardheeryan please assign this issue to me

[2022-04-04 18:21] pratishthaa opened #407 "Animal Classification and model deployment"
https://www.kaggle.com/datasets/ayushv322/animal-classification

[2022-04-05 11:13] srajan-kiyotaka commented on #407
@pratishthaa
I would like to work on this issue. Kindly assign

[2022-04-05 12:27] omkar806 commented on #403
I have Updated the Issue and also written the description please assign the issue to me .

[2022-04-05 12:54] Rutikab12 commented on #403
@omkar806 go for it.

[2022-04-05 12:55] Rutikab12 commented on #405
@Shamvv Please look for other Open to Grab Issues.

[2022-04-05 13:11] #405 closed

[2022-04-05 17:38] rohitpadage commented on #353
I have good understanding of data analysis.
I'm excited to work on this issue.
Kindly Assign me the issue.

[2022-04-05 17:48] rohitpadage commented on #376
I have a good understanding of classification.
I would like to work on this issue.
Please assign the issue.

[2022-04-06 01:00] shreya024 commented on #372
@Niketkumardheeryan @Rutikab12 I would like to work on this issue. Kindly assign

[2022-04-06 04:41] Rutikab12 commented on #372
@shreya024 you can work on it now.

[2022-04-06 05:44] srajan-kiyotaka commented on #392
@Rutikab12
can you assign me the issue
I had created PR for other issues.

[2022-04-06 10:39] shreya024 commented on #372
Is it okay if I add a demo of image classification model using tensorflow.js? What else should I add?

[2022-04-06 10:47] Niketkumardheeryan commented on #372
yes that will work

[2022-04-06 11:02] shreya024 commented on #372
Okay thank you

[2022-04-06 15:09] shreya024 commented on #300
@Rutikab12 @Niketkumardheeryan I would like to work on this issue. Kindly assign. Also any specific dataset I need to use for this?

[2022-04-06 16:54] Rutikab12 commented on #300
You can use any suitable dataset for the same.

[2022-04-07 01:45] shreya024 commented on #372
Is there a specific directory where I should commit the demo or just create a new folder?

[2022-04-07 18:26] pratishthaa opened #413 "Posture Detection and model deployment"

[2022-04-07 20:01] SoumyoNathTripathy commented on #282
@pratishthaa 1day more

[2022-04-08 06:01] AkritiAgarwal09 commented on #413
Please assign me this issue

[2022-04-08 06:02] AkritiAgarwal09 commented on #365
Hi @pratishthaa
I want to take up this issue

[2022-04-08 06:15] AkritiAgarwal09 commented on #413
@pratishthaa
Can you assign this issue to me
Thank you

[2022-04-08 13:58] pratishthaa commented on #365
@shreya024 How much time do u need for this(max time is 6 days)?

[2022-04-08 14:26] shreya024 commented on #365
I will make a PR within 3-4 days

[2022-04-08 17:46] heymansi commented on #396
Hey!
I am GSSoC'22 contributor.
Would love to work on CNN model.
Please assign me this issue
Thank you!

[2022-04-08 17:48] heymansi commented on #395
I am contributor in GSSoC'22. Please assign me this issue

[2022-04-08 17:50] heymansi commented on #355
Heyy!
I am GSSoC'22 contributor.
Please assign me this issue

[2022-04-08 17:52] heymansi commented on #351
Hey!
I am GSSoC'22 contributor
Could you please assign me this issue

[2022-04-08 18:05] #355 closed

[2022-04-09 16:05] #300 closed

[2022-04-09 18:27] pratishthaa opened #416 "Data Augmentation techniques with examples"

[2022-04-09 18:29] AyushJain001 opened #417 "Backpropagation Intuition for Regression and Classification"
I will demonstrate the intuition behind the working of backpropagation using self code and inbuilt Keras library.

[2022-04-09 18:30] AyushJain001 commented on #417
Kindly assign this issue under GSSOC'22. I would like to work on that.

[2022-04-10 03:05] Rutikab12 commented on #417
@AyushJain001 PLease look for other open Issues.  Thanks.

[2022-04-10 03:05] #417 closed

[2022-04-10 04:27] learner2102 commented on #354
I would like to work on this . Kindly assign me this @pratishthaa .

[2022-04-10 04:29] learner2102 commented on #349
Kindly assign me this @pratishthaa .

[2022-04-10 04:30] learner2102 commented on #304
Assign me this @pratishthaa @Niketkumardheeryan .

[2022-04-10 10:23] AyushJain001 commented on #394
I would like to work on that under GSSOC'22

[2022-04-10 11:15] Sulagna-Dutta-Roy opened #418 "Wine Quality Prediction"
I will be doing analysis of wine quality using both classification and regression.
Dataset will be collect from kaggle.

Please assign me this Issue.

[2022-04-10 15:26] pawansharma197 opened #419 "Duplicate Question Pair End to End NLP Project"

[2022-04-10 15:26] pawansharma197 commented on #419
Hello Myself Pawan Sharma GSSOC"22 plz assign this issue to me .

[2022-04-10 16:19] Rutikab12 commented on #419
Go for it @pawansharma197

[2022-04-10 16:20] Rutikab12 commented on #418
@Sulagna-Dutta-Roy Please look for other open issues. Thanks.

[2022-04-10 16:20] #418 closed

[2022-04-10 18:14] Sulagna-Dutta-Roy opened #420 "Credit Card Fraud Detection"
It is important that credit card companies are able to recognize fraudulent credit card transactions so that customers are not charged for items that they did not purchase.
Dataset will be collect from kaggle.
Please assign me this Issue.

[2022-04-11 09:13] shreya024 commented on #416
@pratishthaa I would like to work on this issue. Kindly assign

[2022-04-11 11:29] SaachiKaup commented on #416
Hi @pratishthaa !
Wanted to contribute to this project! Could you elaborate on this issue. Would love to work on something!
Regards,
GSSOC'22 participant

[2022-04-11 15:04] aritra1804 opened #422 "Github Topic Scraper"
I would like to wok on a web scraper that would help beginners or in general developers to find repositories based on what topic they are interested. Pls assign me this issue for gssoc 22

[2022-04-11 16:11] Rutikab12 commented on #420
@Sulagna-Dutta-Roy Please look for other open issues. Thanks.

[2022-04-11 16:11] #420 closed

[2022-04-11 16:33] aritra1804 commented on #422
@Rutikab12 Could you please add the gssoc 22 and level1,2,3 label in my previous Merged PR , Else it won't be counted.
This is the link of my previous PR https://github.com/Niketkumardheeryan/ML-CaPsule/pull/288

[2022-04-11 18:23] Niketkumardheeryan opened #423 "Create a github page For ML Capsule"

[2022-04-11 18:24] Niketkumardheeryan commented on #423
Levels will be given according to your work...

[2022-04-11 19:57] rohitpadage commented on #423
I'm GSSOC 22 participant. I would like to work on this issue.

[2022-04-12 06:02] Rutikab12 commented on #422
Done.

[2022-04-12 13:15] #201 closed

[2022-04-12 13:16] Niketkumardheeryan opened #424 "Improve Readme.md file of this repository(ML Capsule)"

[2022-04-12 16:59] rohitpadage commented on #423
@Niketkumardheeryan can you tell me what the exact task to do under this issue.

[2022-04-12 18:35] #365 closed

[2022-04-13 04:07] dhruti29 commented on #423
I would like to work on this issue. GSSOC 22 participant @Niketkumardheeryan

[2022-04-13 04:23] Rutikab12 commented on #403
Already PR has been made on this issue. You can look for other open issues. Thanks.

[2022-04-13 08:01] heymansi commented on #419
Hii
I am GSSOC'22 contributor,
could you please assign me this issue?

[2022-04-13 08:03] Rutikab12 commented on #419
Already Assigned. Please look for other open issues. Thanks.

[2022-04-13 09:35] heymansi opened #428 "Handwritten digit classsification using MNIST dataset"
Hii,
I am GSSOC'22 contributor
I request you to assign me this issue

[2022-04-13 12:02] shreya024 commented on #424
@Niketkumardheeryan I would like to work on this issue. Kindly assign

[2022-04-13 18:18] pratishthaa opened #429 "Amazon Seller - Order Status Prediction"
https://www.kaggle.com/datasets/pranalibose/amazon-seller-order-status-prediction

[2022-04-14 04:50] prinks-wiz commented on #429
I would like to contribute to this issue. I can use linear regression, logistic regression and svm models for prediction. Kindly assign this to me.
I am a GSSoC '22 participant

[2022-04-14 07:58] Pushpita05 commented on #322
@Niketkumardheeryan pls close this issue as pr is merged

[2022-04-14 09:58] Niketkumardheeryan commented on #423
you have to create a GitHub page for this project and add a menu(in UI) or create categories (Like supervised ,unsupervised, deep learning, Comp vision, etc...)

[2022-04-14 09:59] Niketkumardheeryan commented on #423
And Do it fast asap

[2022-04-14 10:00] Niketkumardheeryan commented on #428
@heymansi its already there

[2022-04-14 10:00] #428 closed

[2022-04-14 10:01] Niketkumardheeryan commented on #424
@shreya024 go for it

[2022-04-14 10:16] #322 closed

[2022-04-14 11:41] WhiteWolf47 commented on #302
hey, can i work on this issue. I just found out about a new library called Pytrorch tabular and i would like to add a very short demo

[2022-04-14 11:45] WhiteWolf47 commented on #264
@pratishthaa i would really like to work on this issue, can u assign it to me

[2022-04-14 11:59] #264 closed

[2022-04-14 13:23] heymansi commented on #429
Hii,
I would like to contribute to this issue
@pratishthaa can you assign me this issue?

[2022-04-14 13:28] pratishthaa opened #430 "EDA on heart diseases key indicators and respective modelling"
https://www.kaggle.com/datasets/kamilpytlak/personal-key-indicators-of-heart-disease

[2022-04-14 13:32] heymansi commented on #430
Hii,
I am GSSOC'22 contributor
Could you please assign me this issue @pratishthaa ??

[2022-04-14 14:45] Sulagna-Dutta-Roy commented on #364
I want to work on this Issue. Kindly assign me

[2022-04-14 19:41] pratishthaa commented on #364
@mgncodes How much time do u need for this?

[2022-04-15 00:25] hemhemoh opened #431 "Alzheimer's Disease Predictor with a transfer learning Model #GSSOC'22"
Hello, I am a GSSOC'22 contributor and I would love to use transfer learning on the Alzheimer's Disease predictor dataset. I plan on using exploring both the resnet and the vgg pretrained model.

[2022-04-15 00:32] hemhemoh opened #432 "Fake news detection using the text column #GSSOC'22"
Hello, I am a GSSOC'22 participant and I'd love to build a fake news detector using the text column as regards the author and title that was used previously

[2022-04-15 00:33] hemhemoh opened #433 "Fake news detection using the text + title column #GSSOC'22"
Hello, I am a GSSOC'22 participant and I'd love to build a fake news detector using the text and title column as opposed the author and title that was used previously

[2022-04-15 00:38] hemhemoh opened #434 "Text preprocessing on the email classifier #GSSOC'22"
Hello, I noticed that the dataset for the email classifier was not preprocessed(i.e thorough data cleaning was not done on it). I would love if you assign this issue to me to work on it

[2022-04-15 10:13] Niketkumardheeryan opened #435 "add test folde"

[2022-04-15 10:35] mgncodes commented on #364
thanks for assigning @pratishthaa !
I need time till Monday to complete this.

[2022-04-15 10:36] mgncodes commented on #364
thanks for assigning @pratishthaa !
I need time at max till Monday to complete this.

[2022-04-15 16:22] Rutikab12 commented on #332
@paritoshtripathi935 go for it.

[2022-04-15 16:23] Rutikab12 commented on #351
@heymansi go for it.

[2022-04-15 16:28] Rutikab12 commented on #306
@pawansharma197 Please make PR if you have finished working on the model.

[2022-04-15 16:30] Rutikab12 commented on #302
@WhiteWolf47 Go for it.

[2022-04-15 16:31] Rutikab12 commented on #291
@paritoshtripathi935 Go for it. You have only 5 days to make PR.

[2022-04-15 16:32] Rutikab12 commented on #286
@SoumyoNathTripathy Go for it. But don't forget to make a PR within 5 days.

[2022-04-15 16:39] paritoshtripathi935 commented on #291
@Rutikab12 i will be using my own data is it fine?

[2022-04-15 16:40] Rutikab12 commented on #291
Okay.

[2022-04-15 16:40] paritoshtripathi935 commented on #332
thanks @Rutikab12

[2022-04-16 06:37] pawansharma197 commented on #306
Yes I am going to do it by Today

[2022-04-16 16:34] #435 closed

[2022-04-16 16:34] #433 closed

[2022-04-16 16:35] Niketkumardheeryan commented on #433
@hemhemoh its already there

[2022-04-16 16:35] Niketkumardheeryan commented on #432
already there

[2022-04-16 16:35] #432 closed

[2022-04-16 16:36] #431 closed

[2022-04-16 16:37] Niketkumardheeryan commented on #407
go for it

[2022-04-16 16:38] #403 closed

[2022-04-16 16:39] #396 closed

[2022-04-16 16:39] #395 closed

[2022-04-16 16:40] #387 closed

[2022-04-16 16:41] #361 closed

[2022-04-16 16:41] #362 closed

[2022-04-16 16:42] Niketkumardheeryan commented on #423
any update..

[2022-04-16 16:44] #367 closed

[2022-04-16 16:47] #202 closed

[2022-04-16 16:48] #265 closed

[2022-04-16 16:49] #257 closed

[2022-04-16 16:50] #256 closed

[2022-04-16 16:50] #253 closed

[2022-04-16 16:52] Niketkumardheeryan commented on #252
go for it

[2022-04-16 16:53] #251 closed

[2022-04-16 16:53] #246 closed

[2022-04-16 16:54] #237 closed

[2022-04-16 16:55] Niketkumardheeryan commented on #225
Now you can work on it

[2022-04-16 16:56] #224 closed

[2022-04-16 16:57] #221 closed

[2022-04-16 17:00] #325 closed

[2022-04-16 17:39] hemhemoh commented on #433
@Niketkumardheeryan For the one that is there, it is the title and author column that was used, I want to use the text and title column now.

[2022-04-16 17:40] hemhemoh commented on #431
@Niketkumardheeryan why did you close the issue? This particular method has not been used yet.

[2022-04-16 18:29] pratishthaa opened #436 "Naive Bayes Classifier"

[2022-04-17 07:02] urvisinghal commented on #327
Can you assign this to me please?

[2022-04-18 15:32] Neha-Niharika-Kar commented on #436
Hello. I am a GSSoC'22 contributor. I would like to contribute on this issue. I'm a beginner in open source. Can you assign me this please?

[2022-04-18 15:37] pratishthaa opened #439 "NLTK-Documentation"

[2022-04-18 15:43] Neha-Niharika-Kar commented on #284
Is this project updated? I can't find this on the repository. Can you please help me?
What update is needed to be done now?

[2022-04-18 15:48] pratishthaa commented on #284
You have to work on this issue yourself. It's not added n the repository.

[2022-04-18 15:48] Neha-Niharika-Kar commented on #436
Hey thank you so much! Can you please explain what exactly I need to do? And until when?

[2022-04-18 15:53] pratishthaa commented on #436
you have 6 days to work on the given problem statement. You have to create documentation along with examples!

[2022-04-18 15:54] Neha-Niharika-Kar commented on #284
Okay thanks, what is the deadline to complete?

[2022-04-18 15:55] Neha-Niharika-Kar commented on #436
Okay thank you.

[2022-04-18 15:56] pratishthaa commented on #284
6 days..keep updating in between!

[2022-04-19 01:18] shreya024 commented on #439
I would like to work on this issue. Kindly assign

[2022-04-19 01:21] shreya024 commented on #295
I would like to work on this issue. Kindly assign

[2022-04-19 10:46] paritoshtripathi935 commented on #291
@Rutikab12 hello sir, I have opened a PR, please discard all the commits before 19 April 2022. i by mistake multiple changes into previous projects I was working on.

[2022-04-19 13:49] Sulagna-Dutta-Roy commented on #353
Can I work on this Issue ?

[2022-04-19 15:47] Neha-Niharika-Kar commented on #436
I need to upload a doc file or ipynb?

[2022-04-19 16:41] pratishthaa commented on #436
ipynb

[2022-04-19 16:42] pratishthaa opened #442 "Drowsiness Detection"

[2022-04-19 16:43] Rutikab12 commented on #291
okay, make the necessary changes.

[2022-04-19 16:50] Neha-Niharika-Kar commented on #284
Is there any specific dataset to use?

[2022-04-19 16:52] Rutikab12 commented on #284
Yes file should be ipynb  and if you have any related dataset for the project, you can use that.

[2022-04-19 16:54] Neha-Niharika-Kar commented on #284
Okay thank you

[2022-04-19 21:27] LahariBoni commented on #348
Hi @pratishthaa, could you please assign this to me. I am a participant of gssoc'22 and would like to work on it. I am planning to implement svm and natives bayes classification algorithms on this dataset and would like to see which one gives a better accuracy on the dataset.

[2022-04-19 21:51] mohanadtalat91 commented on #362
You closed this issue, but you maybe forgot to merge the according PR #360  ??!
@Niketkumardheeryan

[2022-04-19 21:52] mohanadtalat91 commented on #361
You closed this issue, but you maybe forgot to merge the according PR #359  ??!

@Niketkumardheeryan

[2022-04-20 04:36] paritoshtripathi935 commented on #291
I tried removing other ones but i think only admins can remove the unnecessary commits

[2022-04-20 04:38] Rutikab12 commented on #291
@Niketkumardheeryan Please see this.

[2022-04-20 05:43] AniruddhA-Omni commented on #442
can you assign this to me? I can work on this issue

[2022-04-21 04:57] pawansharma197 commented on #419
Made a Pull Request . Please Review it

[2022-04-21 06:19] subhadeeppaul opened #445 "Cheat Sheets"
Add a complete cheatsheet on  Numpy, Pandas, Seaborn and Matplotlib in the Cheat Sheets section.

[2022-04-21 10:57] AniruddhA-Omni commented on #442
I have created pull requeste, kindly check it

[2022-04-21 15:25] TG922 opened #447 "Getting centroid of digits"
I would like to add work on this issue to get the centroid of each digit in the MNIST dataset after dividing it into 4 grids and then using the KNN algorithm to classify x & y points.

[2022-04-21 15:53] #447 closed

[2022-04-22 17:06] pratishthaa opened #449 "Traffic Signals Detection and model Deployment"

[2022-04-23 09:55] paritoshtripathi935 commented on #291
i think you should remove all od these and i start commit again a clean one, i think that should work

[2022-04-23 17:35] Neha-Niharika-Kar commented on #436
Hello, I have made a sample. Included an example of Gaussian NB.
Should I do for Multinomial NB and Bernoulli NB?

[2022-04-23 18:21] pratishthaa opened #450 "Documentation-Activation Functions"

[2022-04-24 18:27] pratishthaa opened #451 "BigMart Sales Prediction"

[2022-04-25 14:17] Neha-Niharika-Kar commented on #436
Hello. Should I open a pull request?
I have made a documentation.

[2022-04-25 18:28] pratishthaa opened #452 "Coupon Purchase Prediction"

[2022-04-25 20:18] SoumyoNathTripathy commented on #451
I want to contribute to this repo. Please assign me this task as soon as possible!
Thankyou.

[2022-04-26 05:30] Tanuj-rai commented on #445
Can you please assign me this issue?

[2022-04-26 06:38] Tanuj-rai commented on #333
can you please assign me this Issue?

[2022-04-26 06:45] nk-codes opened #453 "Volume Gesture Control Using MediaPipe"

[2022-04-26 06:45] nk-codes commented on #453
Hi I am Gssoc'22 contributor , I want to contribute to the Project plz assign me

[2022-04-26 10:08] Tanuj-rai commented on #450
Can you please tell me more about it.

[2022-04-26 18:24] Sulagna-Dutta-Roy commented on #452
Can I work on this Issue?

[2022-04-27 11:37] Rutikab12 commented on #452
go for it @Sulagna-Dutta-Roy

[2022-04-27 13:51] kashish0505kashyap commented on #449
I would like to work on this issue. Assign me.

[2022-04-27 14:41] pratishthaa commented on #449
Give an estimated time you need for this issue.

[2022-04-27 18:25] pratishthaa opened #456 "Inventory Demand Forecasting"

[2022-04-28 16:03] Niketkumardheeryan commented on #423
go for it...

[2022-04-28 16:04] #390 closed

[2022-04-28 16:05] #392 closed

[2022-04-28 16:06] Niketkumardheeryan commented on #394
go for it ..

[2022-04-28 16:24] Niketkumardheeryan opened #457 "Create a ChatBot using RASA"

[2022-04-28 16:25] Niketkumardheeryan commented on #457
@subhadeeppaul add Description of this issue...

[2022-04-28 16:27] Niketkumardheeryan opened #458 "Colouring old Black and White photos"
Automated image colorization of Black and White images

[2022-04-28 16:29] Niketkumardheeryan opened #459 "Image Segmentation using Mask R-CNN with TensorFlow"
Objective:
 Fire is an abnormal event that can quickly cause significant injury and property damage in a very concise time frame. The best possible way to reduce the wreckage caused by fire is to detect the fire source as early as we can before it spreads and reaches the point of no return.
To detect fire, we can adopt an RGB model and Image localisation strategy. The RGB model is based on chromat

[2022-04-28 16:30] Niketkumardheeryan opened #460 "Human Pose Estimation using Deep Learning"

[2022-04-28 18:45] Mennatallah9 commented on #458
I'd like to work on this issue. Please assign me.

[2022-04-29 18:03] KareemElozeiri commented on #460
I am a GSSoC22 participant, I was wondering if there was  a dataset available for this issue as I would like to work on this

[2022-04-29 18:14] KirtiGupta3101 commented on #423
I wanna work on this issue.

[2022-04-30 00:09] shreya024 commented on #457
I would like to work on this issue.Kindly assign @Niketkumardheeryan

[2022-04-30 02:03] tasneemahmed123 commented on #429
Can you assign me this issue I will use some algorithms to do this task

[2022-04-30 03:58] LahariBoni commented on #353
Hi @Rutikab12, @pratishthaa. I am a participant of gssoc'22. I would like to work on this issue and I am planning to clean the data, analyse it and then visualise it by wordcloud, charts and plots. Could you please assign this to me.

[2022-04-30 13:34] Fancy-angel opened #461 "BreastCancer Detection using adaboost classifier"
Can please assign this to me .

[2022-05-01 05:47] Rutikab12 commented on #460
@KareemElozeiri Look for any dataset. If not found, ping us.

[2022-05-01 05:48] Rutikab12 commented on #457
@shreya024 Go for it.

[2022-05-01 14:51] KareemElozeiri commented on #460
I have already searched on Kaggle and UCI websites and I couldn't find a dataset, Could you please point me to other platforms if you know any?

[2022-05-01 14:51] KareemElozeiri commented on #460
@Rutikab12

[2022-05-02 01:16] pratishthaa commented on #353
@Sulagna-Dutta-Roy how much time you need for this issue?

[2022-05-02 05:15] prinks-wiz opened #463 "Predicting Student Performance"
Hi! I am a GSSoC '22 participant. I would like to use SVM regression technique to predict student performance. Kindly assign this issue to me.

[2022-05-02 12:25] Rutikab12 commented on #463
which dataset you are using. Please share .

[2022-05-02 18:16] pratishthaa opened #465 "PCA and LDA on different models"

[2022-05-03 18:29] pratishthaa opened #466 "Documentation-Clustering algorithms"

[2022-05-04 10:52] shreya024 commented on #466
I would like to work on this issue.Kindly assign @pratishthaa

[2022-05-04 12:51] prinks-wiz commented on #463
https://www.kaggle.com/datasets/yasserh/student-marks-dataset

[2022-05-04 13:43] Rutikab12 commented on #463
Okay. You can work on it.

[2022-05-04 19:24] Niketkumardheeryan commented on #463
sorry you can create another issue,bcz we are not accepting simple predictions

[2022-05-04 19:24] #463 closed

[2022-05-04 19:25] Niketkumardheeryan commented on #461
its already there

[2022-05-04 19:26] Niketkumardheeryan commented on #423
go for it

[2022-05-05 17:38] rohitpadage commented on #430
I have good understanding of EDA. Please Assign me the issue.

[2022-05-05 17:39] #461 closed

[2022-05-05 17:41] #419 closed

[2022-05-05 17:41] #422 closed

[2022-05-05 17:43] #407 closed

[2022-05-05 17:59] hemhemoh commented on #434
Hi, Can you please reopen this issue?
I am almost done with it.

[2022-05-06 16:28] Rutikab12 commented on #394
@AyushJain001 What's the update . Do you n eed more time?

[2022-05-06 16:31] Rutikab12 commented on #429
@heymansi do you need more time?.

[2022-05-06 16:33] Rutikab12 commented on #445
@Tanuj-rai have you made a PR?

[2022-05-06 16:33] AyushJain001 commented on #394
yes, I am working on it ..will update within 2-3 days

[2022-05-06 16:35] Rutikab12 commented on #394
Okay. If it is taking more time, please inform at least.

[2022-05-06 16:36] Rutikab12 commented on #453
@nk-codes what's the update?

[2022-05-06 16:37] Rutikab12 commented on #376
Hey would you like to work on this issue?

[2022-05-06 16:38] AyushJain001 commented on #394
Sorry for that , I will update soon

[2022-05-06 16:40] Rutikab12 commented on #394
Yeah. Take your time, but finish it as soon as possible.

[2022-05-06 16:40] Rutikab12 commented on #353
@LahariBoni would you like to work on this issue?

[2022-05-06 16:45] LahariBoni commented on #353
Yes @Rutikab12, please assign this to me.

[2022-05-06 17:00] Rutikab12 commented on #353
@LahariBoni Go for it. Make a PR in 5 days or ping here if need more time.

[2022-05-06 17:01] LahariBoni commented on #353
Sure @Rutikab12, thank you.

[2022-05-07 02:25] Tanuj-rai commented on #445
Not now because of exams I couldn't not make. I will make PR, give me 1 or
2 days.

On Fri, 6 May 2022, 10:03 pm Rutik Bhoyar, ***@***.***> wrote:

[2022-05-07 06:45] heymansi commented on #429
My exams are going on so I will need some more time

[2022-05-07 06:47] heymansi commented on #430
Hey,
@pratishthaa Could you reassign me this, I am done with my work , I just have to push it, It will be done by today itself

[2022-05-07 07:32] pratishthaa commented on #430
You took over 22 days for this issue and now suddenly it's done. @rohitpadage how much time do you need for this?
If you haven't started maybe you can take another issue and it can be assigned back.

[2022-05-07 10:50] Neha-Niharika-Kar commented on #436
Hello, I had made the project many days back, but did not get any response from the mentors.
I have made a pull request. If possible, please check it.

[2022-05-07 10:52] Neha-Niharika-Kar commented on #376
Hello, can I work on this issue?

[2022-05-07 10:59] Neha-Niharika-Kar commented on #319
Hello, can I work on this issue, I'm a GSSoC'22 contributor.

[2022-05-07 11:28] Neha-Niharika-Kar commented on #319
Thank you

[2022-05-07 11:52] rohitpadage commented on #430
2-3 days

[2022-05-07 23:23] void-ness commented on #424
Hey! I went through the README file of the repository and noticed few areas where it can be improved. therefore I would like to work on it and improve it. kindly assign it to me. thank you!

[2022-05-08 04:39] Neha-Niharika-Kar commented on #436
Please check my PR

[2022-05-08 06:32] subhadeeppaul opened #471 "Create a Number Plate Recognition model"

[2022-05-08 12:08] Neha-Niharika-Kar commented on #436
I need to create a new PR?

[2022-05-08 13:25] pratishthaa commented on #436
No change files in same PR

[2022-05-08 14:19] Neha-Niharika-Kar commented on #436
Kindly check.

[2022-05-09 07:30] Neha-Niharika-Kar commented on #436
Do check it now.

[2022-05-09 09:54] shreya024 commented on #450
I would like to work on this issue. @Rutikab12 Kindly assign

[2022-05-09 14:13] Purva-Gharat opened #472 "Gesture Control Mouse using OpenCV"
The system will allow the user to navigate the computer cursor using their hand-bearing color caps and performs various mouse operations such as left-click, right-click, movement, etc using gestures recognition technique with the help of color detection.

Please assign me this issue.

[2022-05-09 17:42] void-ness commented on #424
@Niketkumardheeryan

[2022-05-10 08:34] Neha-Niharika-Kar commented on #436
The documentation is okay right?
Will my PR be merged?
I have been assigned a new issue, can I work on that?

[2022-05-10 09:09] Neha-Niharika-Kar commented on #436
Okay thank you

[2022-05-10 09:58] Rutikab12 opened #473 "Social Media Fake Accounts Detection with Interactive UI"
- Model for detecting fake accounts on any social media platform
- Make a Web Interface where user will be able to
   - Enter account name
   - on click of button , detect it is fake or not.
- Use any dataset of your choice.

[2022-05-11 15:04] LahariBoni commented on #353
Hi @Rutikab12, I made a pr yesterday night and it was merged in the morning. But the labels aren't updated yet. Could you please check it.

[2022-05-11 16:25] Rutikab12 commented on #353
@LahariBoni Done.

[2022-05-11 17:00] #471 closed

[2022-05-11 17:02] Niketkumardheeryan opened #475 "Add a Pyscript Tutorial python notebook"

[2022-05-11 17:02] #457 closed

[2022-05-11 18:30] Saketh991 commented on #373
Hi @Rutikab12 and @pratishthaa, I am a participant of gssoc'22. I would like to work on this issue. Could you please assign this to me.

[2022-05-14 03:21] shreya024 commented on #475
I would like to work on this issue

[2022-05-15 09:04] Niketkumardheeryan commented on #475
go for it

[2022-05-15 09:13] Niketkumardheeryan commented on #460
check paper with code

[2022-05-15 09:33] subhadeeppaul opened #477 "Gender and Age detection using python and OpenCV"

[2022-05-15 09:35] subhadeeppaul opened #478 "Realtime face mask detection using Python and OpenCV"

[2022-05-15 18:57] navyasharma0203 commented on #478
Can I work on this issue??

[2022-05-15 19:01] navyasharma0203 commented on #477
I am part of GSSOC'22... Can I work on this issue??

[2022-05-15 23:34] hemhemoh opened #481 "Data cleaning and sentiment analysis on restaurant data"
Hi, I would like to clean and perform sentiment analysis on the reviews of a particular restaurant known as Zomato Restaurant. Kindly assign to me #GSSOC22.

[2022-05-15 23:45] hemhemoh opened #482 "Predicting car prices"
Hi, I would like this issue to be assigned to me as I get to build an Ml model that'd predict house prices.

[2022-05-16 03:31] subhadeeppaul commented on #478
Go for it

[2022-05-16 03:32] subhadeeppaul commented on #477
Yeah go for it

[2022-05-16 18:28] pratishthaa opened #483 "Video Games sale predictor"

[2022-05-17 15:27] subhadeeppaul opened #484 "Fire Detection using python and Open CV"

[2022-05-17 16:35] Rutikab12 commented on #482
Hey @hemhemoh Please look for other open issues. Thanks.

[2022-05-17 16:35] #482 closed

[2022-05-17 16:36] Rutikab12 commented on #481
Please look for other open issues. Thanks.

[2022-05-17 16:36] #481 closed

[2022-05-17 18:14] Niketkumardheeryan opened #485 "Add a Demo or Documentation for Tensor FLow Play and related tools"

[2022-05-17 18:16] Niketkumardheeryan opened #486 "A project based on Reinforcement learning"

[2022-05-17 20:33] GaganpreetKaurKalsi opened #488 "Sentiment Analysis of IMDb movie reviews"
1. Fetching movie reviews using IMDb API based on user input.
2. Using different sentiment analysis libraries such as textblob, text2emotion, nltk, flair to analyze sentiments and produce result in form of text and graphs.

End project - Jupyter ntbk.

[2022-05-18 05:37] Rutikab12 commented on #488
Go for it. Make a PR within 5 days.

[2022-05-18 06:20] urvisinghal commented on #484
Can you assign this to me please

[2022-05-18 06:24] urvisinghal commented on #465
can you assign this to me please

[2022-05-18 06:52] subhadeeppaul commented on #484
Go for it

[2022-05-18 08:30] Neha-Niharika-Kar commented on #376
Can you assign me this issue? I'm a GSSoC'22 contributor.

[2022-05-18 08:47] Tanuj-rai commented on #351
@Niketkumardheeryan I want to work on this issue.

[2022-05-18 14:07] Neha-Niharika-Kar commented on #436
The pull request is merged, should I un-assign myself?

[2022-05-18 16:27] WhiteWolf47 opened #491 "IPL Win Probability prediction model"
making a ML model to predict ipl teams' win probability at any time of the match

[2022-05-18 17:38] Niketkumardheeryan commented on #491
@WhiteWolf47 already there

[2022-05-18 17:38] #491 closed

[2022-05-21 08:33] Purva-Gharat opened #496 "Detect Malicious URL using Machine Learning"
Problem Statement - The Internet is frequently used by criminals for illegal activities, such as financial fraud, phishing, online gambling, fake TV shopping, fraudulent prize-winning, and spam SMS in social networks so detection of malicious URL is a major concern so the main objective of this project is to develop a machine learning model to detect whether the URL is malicious or benign.

Please

[2022-05-21 10:59] TANYA-CHAN opened #497 "Heart Disease Prediction"
I would like to add a project which is a Heart Disease Predictor and uses multiple ML Algorithms like:
Logistic Regression
Naive Bayes
Support Vector Machine
K-Nearest Neighbors
Decision Tree
Random Forest
XGBoost
Neural Network

[2022-05-21 11:07] TANYA-CHAN commented on #497
can you please assign it to me?

[2022-05-21 11:15] Rutikab12 commented on #497
Hey, @TANYA-CHAN if you want I can assign you issue number #451  Instead of this issue. Have a look.

[2022-05-21 11:15] #497 closed

[2022-05-21 11:15] Rutikab12 commented on #496
@Purva-Gharat go for it.

[2022-05-21 11:17] TANYA-CHAN commented on #497
@Rutikab12 I already have done this project and tested it, that's why it's easier to edit and contribute, please understand as my final exams are going on.

[2022-05-21 11:29] Rutikab12 commented on #497
Excuse me , but I can't as it is already done.

[2022-05-21 11:31] TANYA-CHAN commented on #497
Okay cool, thank you.

[2022-05-21 11:54] TANYA-CHAN opened #498 "Song genre classifier using NLP"
1. This project aims to identify which genre a song belongs to on the basis of its lyrics
2. The dataset contains 62155 songs
3. Each song is classified into 5 genres- Country, Rock, Hip-Hop, Pop and Rhythm and Blues
4. Two major text classification methods were tested- Logistic Regression and Naïve Bayes
5. Under Naïve Bayes, 3 models were tested- Count Vectorizer, TF-IDF, and Text Cleaning
6. Up

[2022-05-21 11:55] TANYA-CHAN commented on #498
@Rutikab12 is this okay?

[2022-05-21 11:58] Rutikab12 commented on #498
Yeah. Go for it

[2022-05-21 15:32] TANYA-CHAN commented on #498
![2022-05-21 (64)](https://user-images.githubusercontent.com/57089030/169658624-3a3ab0e2-56b9-4362-b764-69fa3429937b.png)
@Rutikab12  what does this error specify?

[2022-05-21 16:07] Rutikab12 commented on #498
Try to relogin to your account. Change github password. LAst login session might have been stopped.

[2022-05-21 16:14] #488 closed

[2022-05-21 16:19] Rutikab12 commented on #498
[You can also take help of this link](https://stackoverflow.com/questions/7438313/pushing-to-git-returning-error-code-403-fatal-http-request-failed)

[2022-05-21 16:23] TANYA-CHAN commented on #498
Done I've created the PR, thank you so much.

[2022-05-21 16:46] Raaghav4243 commented on #473
Hi. Please assign this to me.
Thank You

[2022-05-21 17:26] TANYA-CHAN commented on #498
@Rutikab12
![2022-05-21 (106)](https://user-images.githubusercontent.com/57089030/169662648-7a3d73fd-7eae-4db1-ad24-f7b419a74642.png)
How do I add the .csv because it is too large

[2022-05-21 17:33] TANYA-CHAN commented on #486
I would like to work on a project which shows the  "Windy Grid Problem"  of reinforcement learning using SARSA and Q learning to evaluate states, and a number of steps the agent takes in 4 general directions. Can you please assign it to me?

[2022-05-22 03:07] Sabyasachi-Seal opened #501 "Neural Network to Read Handwriting"
Want to add a project of mine that uses ML to read  human handwriting,

Main Packages used are numpy, pandas, and tensorflow.

The dataset if from tf.keras.datasets.mnist

[2022-05-22 07:36] Rutikab12 commented on #498
Just post link of it, if its from kaggle . PRefer to use Github desktop, it is quite handy in terms of use.

[2022-05-22 11:08] WhiteWolf47 commented on #491
@Niketkumardheeryan can you please the # number of it, i am unable to find it.

[2022-05-22 11:15] Niketkumardheeryan commented on #501
@Sabyasachi-Seal already there

[2022-05-22 11:15] #501 closed

[2022-05-22 11:16] Niketkumardheeryan commented on #486
@TANYA-CHAN go for it

[2022-05-22 11:31] TANYA-CHAN commented on #486
I'll start working on this on Tuesday if that is fine, as Monday I have an exam,

[2022-05-22 11:40] Vaishnavi-Markunde opened #503 "Disease Diagnosis Based on Symptoms"
This project would diagnose based on the symptoms data collection from the user. This even includes a data collection tool (survey) via which the model can be improved.

@Niketkumardheeryan @Rutikab12 please assign me this issue

[2022-05-22 13:48] umangtank opened #505 "Complete EDA, Feature enginering and Feature selection on BackOrder Dataset"
EDA and Feature Engineering is very important task of any data science project which is take almost 70% time of any end to end Data science project.

[2022-05-23 02:58] Sabyasachi-Seal opened #506 "Exploratory Data Analysis on Terrorism"
Numpy, Pandas, Seaborn, Matplotlib

[2022-05-23 03:00] Sabyasachi-Seal commented on #506
Will include video explantion.

[2022-05-23 03:28] Rutikab12 commented on #506
@Sabyasachi-Seal  PLease look for other open issues. Thanks.

[2022-05-23 03:28] #506 closed

[2022-05-23 03:28] #503 closed

[2022-05-23 03:36] Sabyasachi-Seal commented on #478
Can I work on this? I can send the PR within today itself.

[2022-05-23 05:29] navyasharma0203 commented on #478
Sorry, I have completed my work....PR to be almost done

[2022-05-23 06:12] Sabyasachi-Seal commented on #478
Ok No Problems

[2022-05-24 10:58] umangtank commented on #505
@Niketkumardheeryan please asign me

[2022-05-24 12:51] Rutikab12 commented on #505
@umangtank Please look for other open issues. Thanks.

[2022-05-24 12:51] #505 closed

[2022-05-24 17:37] shireenchand commented on #442
Can you assign this issue to me? I can work on it.

[2022-05-27 09:41] kashish0505kashyap commented on #485
I would like to work on this issue. Can you please assign this to me?

[2022-05-27 10:15] kashish0505kashyap commented on #402
I would like to work on this issue. Can you please assign this to me?

[2022-05-27 17:59] TANYA-CHAN commented on #498
@Rutikab12 please tell me the status of this project sir

[2022-05-27 20:08] TANYA-CHAN commented on #486
@Rutikab12 I've added comments to each line in the main files: methods, environment and main, the other files are proofs.
Could you please review this PR, tysm.

[2022-05-28 16:45] Rutikab12 commented on #402
only 2 days for making a PR. Please do as early as possible.

[2022-05-28 16:48] Neha-Niharika-Kar commented on #319
Hello, I have made the project. Can I make a pull request?

[2022-05-28 17:09] Rutikab12 commented on #319
Yeah.

[2022-05-28 17:36] Neha-Niharika-Kar commented on #319
Please check

[2022-05-29 06:11] navyasharma0203 commented on #477
Can anyone please help me out...I am facing lot of trouble making PR...despite my code being ready since days :(

[2022-05-29 06:12] navyasharma0203 commented on #478
Can anyone please help me out...I am facing lot of trouble making PR...despite my code being ready since days :(

[2022-05-29 07:08] subhadeeppaul commented on #477
Yeah... tell me what happened?

[2022-05-29 14:28] Bhawna-Ad commented on #293
Hey! I would like to work on this issue. Can you please assign this issue to me under GSSoC'22?

[2022-05-29 14:29] Rutikab12 commented on #293
Make PR till 31 May.

[2022-05-29 14:30] Bhawna-Ad commented on #293
Sure. Thanks!

[2022-05-29 16:34] Raaghav4243 commented on #473
Hey, I have made the project just for Twitter fake account detection. Does it work
Or do we need to include Instagram and facebook aswell

[2022-05-30 06:14] Raaghav4243 commented on #473
Hey
Will be creating a PR today. almost done with the work.
Thanx

[2022-05-30 14:41] Utsav-Mehta opened #512 "Breast Cancer Detection using UCI WBCD Dataset"

[2022-05-30 16:28] Niketkumardheeryan commented on #512
this project is already there ...........

[2022-05-30 16:28] #512 closed

[2022-05-30 16:29] Niketkumardheeryan commented on #485
@kashish0505kashyap go for it

[2022-05-30 16:53] Utsav-Mehta opened #513 "Oversampling Methods for Balancing the Dataset"

[2022-05-30 17:11] Neha-Niharika-Kar commented on #376
Hello, should I create a PR?

[2022-05-30 18:28] Niketkumardheeryan commented on #513
Go for it but check some methods are already there, check them out first, then you can improve or can add more methods

[2022-05-31 04:13] Rutikab12 commented on #473
Okay

[2022-05-31 11:56] Neha-Niharika-Kar commented on #376
Please review my PR

[2022-05-31 17:12] Bhawna-Ad commented on #293
Hey! I have created the pull request. Could you please take a look?

[2022-06-01 07:31] #402 closed

[2022-06-01 07:39] Bhawna-Ad commented on #293
@Rutikab12 I have added another commit to the PR for this issue. Can you check that one? I think it should work now.

[2022-06-01 07:47] #293 closed

[2022-06-06 09:24] heymansi commented on #331
Hii,
I am GSSOC 22 contributer
@Diishasing can you please assign me this

[2022-06-06 09:25] heymansi commented on #321
Hii @Rutikab12 can you assign me this ?

[2022-06-06 09:28] heymansi commented on #281
Hii, @Rutikab12 could you please assign me this issue

[2022-06-17 21:12] #498 closed

[2022-10-11 08:31] heymansi commented on #355
Does this mean this issue is assigned to me??

On Fri, 8 Apr 2022 at 23:35, Pratishtha ***@***.***> wrote: